[2017-11-06 05:21] raja-gola commented on #1826
Still seeing this in 1.4.2 version
`time="2017-11-06T05:16:47Z" level=info msg="Traefik version v1.4.2 built on 2017-11-02_01:47:46PM"
time="2017-11-06T05:16:47Z" level=info msg="Preparing server http &{Network: Address::80 TLS:<nil> Redirect:<nil> Auth:<nil> WhitelistSourceRange:[] Compress:false ProxyProtocol:<nil> ForwardedHeaders:0xc420055620} with readTimeout=0s writeTimeout=0s idleTimeout=3m

[2017-11-06 06:16] timoreimann commented on #1826
@raja-gola is Traefik actually stopping servicing Ingresses for you or "just" spamming the logs? I'd bet it's the latter, in which case you'd actually be affected by #1784.

[2017-11-06 06:19] timoreimann commented on #1784
I hope to get this fixed by Traefik 1.5.

To the least, the issue will be constrained to specific namespaces that Traefik operates in as the latest master has been switched over to a watch-per-namespace model, obsoleting the need to grant unnecessary _global_ RBAC access to secrets.

[2017-11-06 09:59] JurJean commented on #2359
Thnx for your response, @mmatur

[2017-11-06 10:18] shenshouer commented on #1264
I met the same issue, is there any solution?

[2017-11-06 10:26] c-knowles opened #2364 "forwardedHeaders does not appear to work in 1.4.2"
### What did you do?

I tried to setup a list trusted IPs in front of Traefik which are allowed to forward the `X-Forwarded-*` headers. The setup is a k8s Ingress with an IP whitelist in the Ingress. Adding trusted IPs as per the documentation does not seem to work, only marking it as insecure or whitelisting `0.0.0.0/0` in the Ingress allows traffic in.

### What did you expect to see?

`trustedI

[2017-11-06 15:13] adepretis opened #2365 "Traefik rewriting HTTP status codes"
### Do you want to request a *feature* or report a *bug*?

bug (?)

### What did you do?

Access an URL that results in a HTTP error code 403 (not authorized) in the backend - which is perfectly fine and OK! The underlying Angular application recognises the HTTP error code 403 and reacts accordingly (e.g. displaying a login window).

### What did you expect to see?

The login window and HTTP error

[2017-11-06 15:52] johnhamelink commented on #1827
I'm also seeing this issue on Kubernetes 1.7 alongside a "skipping event" log item during the ACME certification retrieval process.

[code]

Traefik does actually work, except SSL certificates are not used properly (I get a NET::ERR_CERT_AUTHORITY_INVALID error in chrome). Firefox gives the following info:

[code]

[2017-11-06 15:52] eskp commented on #2078
Hi @Juliens, with the new version of Traefik(1.4.1) I now see this warning message in the logs:
[code]
I have tried to test the websocket connection with `wscat` utility and I saw a somewhat similar response:
[code]
Confirming with the developers the application requires a token to be set in the header. So I have tried to do this with `wscat` and the connection succeeded:
[code]
So I'm thinking ma

[2017-11-06 16:29] MichelDiz opened #2366 "traefik won't start in rancher version v1.6.10 - Unhealthy"
### Do you want to request a *feature* or report a *bug*?

Appears to be a bug

### What did you do?

1 - Start a VM in Google Cloud. n1-standard-1 (1 vCPUj, 3,75 GB de mem)
2 - Install Docker in CentOS 7
3 - Install Rancher Latest
4 - Install Rancher Agent in the same Machine (mb is this problem?)
5 - I go to the catalog, I look for Traefik. I put the parameters, I generate the API key and so on.

[2017-11-06 16:49] dtomcej commented on #2365
Can you please provide us with a snippet of the debug log while you are making these requests?

I am curious as to what gets logged when the backend status code of 403 is returned.

[2017-11-06 16:50] dtomcej commented on #2365
@ldez is this possibly related to #2351 ?

[2017-11-06 16:52] SantoDE commented on #2366
Hi @micheldiz,

Could you set traefik to debug (also the logLevel) and get us your log? :)

[2017-11-06 16:53] MichelDiz commented on #2366
how could I do this if traefik does not start? Is there any how?

[2017-11-06 16:54] ryayon opened #2367 "Add support for InsecureSkipVerify option for each backend"
### Do you want to request a *feature* or report a *bug*?

I want to request a feature

### What did you do?

I think it is useful to add a "InsecureSkipVerify" possibilty for specific backends and not as a global parameter.

### What did you expect to see?

I want to be able to make sure some backends have correct SSL certificates while others, that I trust, although they have self signed certifi

[2017-11-06 17:12] MichelDiz commented on #2366
traefik is compatible with cloudflare?

[2017-11-06 18:30] jaychris commented on #2361
I've updated and will test shortly:

[code]

[2017-11-06 18:34] jaychris commented on #2361
It does appear to be working after updating to 1.4.2.

[2017-11-06 18:34] #2361 closed

[2017-11-06 19:23] o1ek commented on #2365
We have the same issue.
With traefik:1.4.0 is returning 202 until results from queries are ready, and then 200. With traefik:1.4.1 or traefik:1.4.2 in immediately returns 200 and empty results.

Here is my config:
[code]

[2017-11-06 20:07] SantoDE commented on #2366
What do you mean by compatible with cloud flare? Even if it’s exiting immediately, you should at least something in Rancher

[2017-11-06 20:23] MichelDiz commented on #2366
The "way" that I follow in this video https://www.youtube.com/watch?v=0zVwqWwHo5w worked

I think the problem is with this catalog version. Maybe is a bug from Rancher.

[2017-11-06 20:29] MichelDiz commented on #2366
The CloudFlare image is a "infra" stack. Has different approach and as it comes to a stack that DNS handles I thought would be conflicting. But I deactivated it and nonetheless the issue continued.

Rancher just gives me simple logs. I posted above, I only have this information. He even din't "pull" the image from docker hub. So it's probably Rancher that is not compatible with some of the Stack c

[2017-11-06 20:31] shadycuz opened #2368 "Traefik stopped displaying health data in dashboard"
### Do you want to request a *feature* or report a *bug*?
BUG

### What did you do?
Ran Traefik on Kubernetes as ingress controller

### What did you expect to see?
I expected to see information in /health

### What did you see instead?
![image](https://user-images.githubusercontent.com/17090999/32462149-5fbc52a2-c306-11e7-9d2d-dbdcf50f9c77.png)

### Output of `traefik version`: (_What version of

[2017-11-06 20:34] MichelDiz commented on #2366
However my problem is solved. But this continues, the issue related to catalog can lead to problems with other people.

If you want to repeat what I did, just follow the steps there at the beginning. I've done this same procedure even with other systems. I have tested in Debian, Rancher Os (I created my image) and CentOS.

[2017-11-06 20:40] shadycuz commented on #2368
Also to note I was digging in the documentation to see if maybe turning on Prometheus killed the health part of the dashboard but it wasn't clear. Going to the REST endpoint for `/health`

[code]

[2017-11-06 20:40] SantoDE commented on #2366
Glad that it worked out. Thanks for pointing the catalog item. I’ll glve it a check :)

[2017-11-06 20:40] #2366 closed

[2017-11-06 20:46] adepretis commented on #2365
@dtomcej is this the information you are looking for (with ``debug=true`` and ``logLevel="DEBUG"``

[code]
```my.foodomain.com``` is not the real hostname of course ;-)

[2017-11-06 20:58] adepretis commented on #2365
@dtomcej interesting detail I just discovered: when accessing the site with curl I get a correct 403 response - tried it with and without headers (same as Chrome, see below):

  * accept: application/json, text/plain, */*
  * accept-encoding: gzip, deflate, br

[code]
When accessing through Chrome:

![screen shot 2017-11-06 at 21 51 42](https://user-images.githubusercontent.com/587018/32463481-456

[2017-11-06 21:38] CbrandVendini commented on #2134
So I have found the storeconfig provides ZERO error output.

I suspect your issue is that consul is on port 8500 not 18500.

I had a similar issue I could not troubleshoot because it wouldn't tell me it didn't like the hostname.

[2017-11-06 23:49] MichelDiz commented on #2366
Sorry to write again here, but just in case. I did a new test. I was able to easily install an old version of Traefik. Soon after I did upgrading version by version until I got the last one that I opened the issue. Only this version is interrupting the correct operation of the Traefik service..

Cheers.

[2017-11-07 09:57] ldez commented on #2365
Duplicate of #2351

[2017-11-07 09:57] #2365 closed

[2017-11-07 11:14] mmatur commented on #2134
Hi @Riduidel, I do some tests on my side with version `traefik:v1.4.2-alpine` and it is working as expected.

Could you try with the last version [v1.4.2](https://github.com/containous/traefik/releases/tag/v1.4.2) please ?

[2017-11-07 11:29] mmatur commented on #1575
Fixed by #1917

[2017-11-07 11:29] #1575 closed

[2017-11-07 11:45] mmatur commented on #661
@muradm Could you please test with latest version [v1.4.2](https://github.com/containous/traefik/releases/tag/v1.4.2) ?

[2017-11-07 12:16] jacksgt commented on #2351
I can also confirm this. I'm running Gitea (which returns a 302 for `/` to `/explore/repos`) behind Traefik `1.4.1` with compression enabled, and Traefik shows a white page with "Found" and HTTP Status Code `200`.

[2017-11-07 12:25] emilevauge opened #2369 "Collecting stats"
Following https://github.com/containous/traefik/pull/2172, this is a proposal to discuss with the community on how we can get more information about deployed Traefik instances.

## Why do the developers team need more info ?
As you may know, the Traefik core development team is quite small and as with a lot of open source projects, we lack time and resources. As a consequence, we have to carefully

[2017-11-07 13:06] RRAlex commented on #2351
I only see references to 1.4.1, but I confirm 1.4.2 is also affected.

[2017-11-07 13:07] traefiker commented on #714
I'll close the issue due to inactivity but feel free to re-open if needed.

[2017-11-07 13:07] #714 closed

[2017-11-07 13:08] ldez commented on #2351
We work on this topic.

[2017-11-07 13:20] ldez commented on #1827
@johnhamelink The symptoms you are experiencing differ from those of the original bug submitter.

Please ask your question on:
- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-11-07 13:23] ldez commented on #2368
Could you provide full debug logs?

[2017-11-07 13:50] trondhindenes opened #2370 "Traefik does not reload changes in Consul Catalog tags"
*bug*

### What did you do?
Traefik 1.4.2 does not seem to gracefully reload changes to Consul Catalog tags (which again drives the frontend/backend configuration of Traefik. This can be observed by:

1. Configure a service with a setting such as circuit breaker:
[code]

If all is set up correctly, Traefik should populate frontend/backend rules for the service.

In order to see the issue, change a

[2017-11-07 14:03] johnhamelink commented on #1827
@ldez Yes you are right, I have removed my previous comment as it would probably cause more confusion than anything else!

[2017-11-07 14:09] trondhindenes opened #2371 "Traefik doesn't respect Circuit Breaker with Consul Catalog"
*bug*

### What did you do?
When configured with a circuit breaker such as:
`traefik.backend.circuitbreaker=NetworkErrorRatio() > 0.5` in the consul catalog, Traefik seems to not respect this.

How this was tested:
After adding the circuit breaker, two servers were placed behind Traefik, both publishing the same Consul service. Health checking was turned OFF so that the servers could be taken offl

[2017-11-07 14:54] ldez commented on #2364
@c-knowles could you try this?

[code]

[2017-11-07 17:15] alkar opened #2373 "Invalid X-Forwarded-Port header"
### What did you do?

Running `traefik` in kubernetes as an ingress controller. The hops to reach a pod are:

1. AWS ELB with SSL/TCP listeners (for SSL offloading) and proxy protocol enabled
2. traefik service nodePort (some high port)
3. traefik container (see arguments below)

I'm also running a simple 'http echo' service in kubernetes that prints the headers of the requests it receives.

### W

[2017-11-08 03:02] MichelDiz opened #2375 "Better Docs (e.g Rancher)"
### Do you want to request a *feature* or report a *bug*?

Docs are the best feature we could ask for - so we do not have to look for support without needing taking time from you.

PS. Sorry for the huge text, but what I have to say can not be summed up. Please address as feedback please.

For example, I'm testing absolutely all possibilities. From third party to "official" and always encounter di

[2017-11-08 07:08] miadabrin opened #2376 "Excessive memory usage with k8s"
I have been using the latest version and surprisingly the memory usage seems a lot higher than before. Currently 5GB on a single server which goes to 20GB eventually over two days. It really seems too much

### Do you want to request a *feature* or report a *bug*?

a Possible bug

### What did you do?

Used traefik with kuberenetes with lots of ingress rules for different host names

### What did

[2017-11-08 08:11] timoreimann commented on #2376
This may or may not be related to #1064. Does your request flow possibly involve file transfers of non-trivial sizes?

[2017-11-08 08:13] miadabrin commented on #2376
@timoreimann  Not currently at least. files are 1MB tops

[2017-11-08 08:18] timoreimann commented on #2376
Also, would you have a chance to try out the latest master build? We refactored parts of the Ingress handling logic a while ago, and my basic benchmarks didn't show any memory problems. We'll need more real world usage though to be sure.

If master is too much on the edge for you, I can also offer to backport the Kubernetes improvements to a custom version of the 1.4 branch. Shouldn't be too hard

[2017-11-08 08:25] miadabrin commented on #2376
I will try it and let you know the results

[2017-11-08 09:14] ntoljic opened #2377 "X-REQUEST-ID Header"
### Do you want to request a *feature* or report a *bug*?

Request a feature

### What did you do?

I setup traefik as a basic reverse proxy for a microservice stack and started to work on a centralized logging approach.

### What did you expect to see?

To be able to group individual request between microservices for better traceability I would have expected traefik to be able to generate a uniqu

[2017-11-08 09:25] miadabrin commented on #2376
@timoreimann same behaviour

[2017-11-08 09:30] nmengin commented on #2339
@analbeard Any news?

@AndrewBucklin

This will be merged for the next major version #2233.

[2017-11-08 11:09] alkar commented on #2373
I just did another simple test: identical setup with the above but with ProxyProtocol not enabled on either ELB or traefik. My echo service still gives me port `X-Forwarded-Port: 80` although that port is not used anywhere in the setup.

[2017-11-08 13:39] nmengin commented on #2377
Hello @ntoljic

Many thanks for you interest in the project.

I think, there are still PR in the way to allow this kind of behavior.
Can you take a look to #2290 and #2237 and give a feedback?

[2017-11-08 13:46] ntoljic commented on #2377
Thank you for the quick response, @nmengin

I only looked through open issues and not PRs, my bad.
Let me have a look at the OpenTracing API referenced in https://github.com/containous/traefik/pull/2290 and I will get back to you. On first glance it seems as if https://github.com/containous/traefik/pull/2237 would be enough for my use case, but I am open to be convinced otherwise.

[2017-11-08 13:54] rodislav commented on #2369
I think you could add
 - a option to collect stats
 - a option to send stats
 - possibility in traefik.toml to define what stats keys developers are willing to share
 - possiblity to dump stats to a file for intra-muros systems without internet connections for later send via e-mail or else.
 - add very good documentation clearly saying that stats are anonymous
 - promote it with very ocasion along

[2017-11-08 13:56] jacksgt commented on #832
Just a quick heads up, my issue is/was actually related to https://github.com/containous/traefik/issues/2351 .

Reverting to `1.4.0` fixed the issue for now.

[2017-11-08 14:07] nmengin commented on #2377
OK @ntoljic.

Do not hesitate to let comments in PR if necessary.
I let you close this issue if you found all you need in these opened PR.

[2017-11-08 14:13] emilevauge commented on #2369
Not sure to understand the difference :thinking: There is already an option to disable/enable collection in the proposal. What do you mean exactly?

I really think we should stay as simple as possible and this is a bit over-engineered IMHO :)

Same as previous item.

Again, already in the proposal: _Detail which data is sent in the documentation_

In the proposal, the collected stats are not linke

[2017-11-08 14:16] yamalight commented on #2369
As long as the collection is opt-in via config / flags - we'd be more than happy to enable it on some of our servers that use Traefik.

[2017-11-08 14:21] rodislav commented on #2369
Here are some more details:

- a option to collect stats
  - it is more related to feature about collectiong stats to a file
- a option to send stats
  - if trafik is running in a offline environment, direct coupling of collecting and sending will simply not work, but separately with possibility to send it via alternative way will do just fine
- possibility in traefik.toml to define what stats key

[2017-11-08 14:51] alkar commented on #2369
Thanks for the writeup @emilevauge, I appreciate the effort to communicate this as clear as possible.

May I suggest that perhaps having a way for the users to view the exported data (dump to disk, http endpoint, or otherwise) would perhaps make this less "scary"?

Other than that, I think the proposal is good and in my opinion making it an opt-in might gain you next to nothing. As long as it's cl

[2017-11-08 14:52] george-angel commented on #2369
+1 to what @alkar said, I would feel much happier if I could obtain the exact copy of the export.

[2017-11-08 14:54] emilevauge commented on #2369
@alkar I totally agree on this. The proposal suggest we could log all the data sent at each collect. Does this match with your need?

[2017-11-08 15:02] alkar commented on #2369
@emilevauge I sort of missed that point!

That sounds good to me, yes, my only concern is really whether it would make logs too noisy in large setups? If that log entry is going to be kilobytes long then maybe it shouldn't include the data (perhaps some users don't even want these statistics to end up in their log aggregation systems - although them being anonymous I don't see that being an issue)

[2017-11-08 15:03] ldez commented on #2351
We found the problem and it's fixed.
We just wait the merge of a PR on a dependency.

[2017-11-08 15:03] rodislav commented on #2369
I agree, a to verbose log can be an issue, but a option to log stats to a separated file will be fine

[2017-11-08 15:07] emilevauge commented on #2369
@alkar the logged data will not be large. It's only the static configuration. And BTW, we already log the configuration in JSON when Traefik starts.

[2017-11-08 15:11] alkar commented on #2369
Sounds great then!

[2017-11-08 16:01] timoreimann commented on #2376
@miadabrin thanks for the feedback.

What we will need is a profile that tells us where our memory is spent. Do you think you could do that somehow? Happy to assist if you need help.

[2017-11-08 16:28] richardjq commented on #2369
I'm ok with opt-out. Folks who care are probably also the ones who are most willing/able to figure out how to set the opt-out parm.

You might start as opt-with a lot of documentation about how it's going to be opt-out in a future release.

[2017-11-08 16:49] Juliens commented on #2078
@eskp I made a test to be sure header are forwarded, and infortunately (or not :wink:) they are forwarded.

May be you can have more logs from your websocket server ?

[2017-11-08 17:17] emilevauge commented on #2369
For even more transparency, I suggest we add some information on the webui when collection is enabled. Proposal updated.

[2017-11-08 17:41] trondhindenes commented on #2370
FYI I've seen the same on 1.3.8 aswell. Node is gone in Consul, but Traefik takes a good while (+15mins) to discover the change, at least according to the traefik 8080 dashboard.

[2017-11-08 20:28] cgebe commented on #880
@nesimtunc Trying your solution gives me a redirection loop when accessing the dashboard subdomain.

Is there some way i can assign the dashboard to a subdomain without port incl. ssl protection?

[2017-11-08 23:46] w3blogfr commented on #2267
I found a solution by upgrading traefik to 1.4.2 to use custom header.
Please see the example  https://github.com/w3blogfr/rancher-error-https-exemple

[2017-11-08 23:48] traefiker commented on #2351
Closed by #2380.

[2017-11-08 23:48] #2351 closed

[2017-11-09 01:30] nesimtunc commented on #880
Sorry for the typo :D thanks for corrected it! @cgebe

[2017-11-09 04:43] aantono commented on #2307
I can take a stab at a PR for this, if needed.

[2017-11-09 06:20] c-knowles commented on #2364
@ldez I tried adding `insecure = false` to those two blocks but the behaviour appears to be the same unfortunately.

[2017-11-09 07:41] #2377 closed

[2017-11-09 09:14] miadabrin commented on #2376
@timoreimann would like to help for sure. how can I profile it?

[2017-11-09 10:42] RubenN commented on #2299
Yes please, a unique key will do, but it would be nice to be able to configure URI/ID (for debugging)

[2017-11-09 11:11] sbrattla opened #2384 "Understanding how traefik works in swarm mode"
I'm trying to understand how a request passing through traefik in Docker Swarm would work, and here's my understanding of how it works. Can anyone please correct me if I'm wrong?

Let's say I start traefik as a service in a Docker Swarm consisting of 5 nodes / hosts. The traefik service runs as a single replica and has a webserver running with 2 replicas as it's only backend.

I hit the swarm on p

[2017-11-09 11:16] #595 closed

[2017-11-09 11:16] #1557 closed

[2017-11-09 11:16] #1623 closed

[2017-11-09 11:16] #2057 closed

[2017-11-09 14:37] dustin-decker commented on #364
The `InsecureSkipVerify` common option affects traefik globally instead of just a single backend.

[2017-11-09 14:46] ldez commented on #2384
Thanks for your interest in Traefik !

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-11-09 14:46] #2384 closed

[2017-11-09 19:03] hans-d commented on #2369
Happy to help with some real life data, however:
- at our company we have some strict fire walling stuff in place. So it would be blocked, and we're not opening up those firewalls for things that are not strictly needed.
- if we send data, we would like to see what's to be send BEFORE it is send
- we'd rather have the app itself focus on performance and not on stats collection for research purpose

[2017-11-09 19:33] rodislav commented on #2369
I totally agree, this is why I wrote in first place the fact that is important to have the possibility to: just collect data - then at least 2 options to: auto-send (or not) as well other one to dump it to a file to further manual inspect+send. Just check my first comment on this topic, you'll see that I've covered the main things which are important in Enterprise Environment.

[2017-11-10 08:34] Juliens opened #2390 "Merge containous/oxy fork with vulcand/oxy"
This issue is for tracking the work on merging our fork of vulcand/oxy, to come back to the original repository

Related to https://github.com/vulcand/oxy/issues/79

### TODO

- [x] Headers (X-Forwarded ...)
- [x] HiJack
  - Already there https://github.com/vulcand/oxy/commit/eabdb12ac2327eff4a982e1383f4498824bffd5d
- [x] HopHeaders
  - Already in go reverse proxy
- [x] HTTP2 / gRpc
  - Already in

[2017-11-10 09:30] #2288 closed

[2017-11-10 14:19] gabrielfsousa opened #2392 "stickiness on kubernetes wont work"
### Do you want to request a *feature* or report a *bug*?

bug

### What did you do?

stickiness on kubernet

### What did you expect to see?

stickiness active tab/label on traefik

### What did you see instead?

stickiness not active

### Output of `traefik version`: (_What version of Traefik are you using?_)

[code]

### What is your environment & configuration (arguments, toml, provider, platf

[2017-11-10 15:31] agalisteo opened #2393 "Traefik + Docker Swarm TLS?"
Does Traefik support Docker Swarm authenticate with TLS? Any documentation?

https://github.com/docker/docker.github.io/blob/master/swarm/configure-tls.md

[2017-11-10 15:35] nmengin commented on #1597
I re-open the issue which has not to be linked to the #1623.

For me is not a bug but a feature.
Indeed, if  LE certificates are generated by using information in the TOML file (with the tag `[[acme.domains]]`), these data are done in a static way has all TLS configurations linked to the entryPoints.

The PR #2233 created the internal mechanism which allows managing TLS certificates dynamically.
T

[2017-11-10 15:45] vincentmele opened #2394 "KV does not respect "prefix" when testing KV store connection"
### Do you want to request a *feature* or report a *bug*?
Report a bug.

### What did you do?
Used an ACL in Consul 1.0.0 to restrict Traefik to read/write access "traefik" key/folder. [consul] "prefix" is set to "traefik".

### What did you expect to see?
I expected Traefik to only need write access to the key/folder specified in [consul] "prefix" .

### What did you see instead?
Traefik failed t

[2017-11-10 15:54] analbeard commented on #2339
@nmengin  apologies, life got in the way.

If you have to use HTTPS protocol for this entryPoint without using DNS challenge, you have to provide TLS certificates manually as described in the documentation.

Understood - in that case I'll need to work with DNS challenge instead. Thanks!

[2017-11-10 16:32] trondhindenes commented on #2371
thanks! Will test this over the weekend.

[2017-11-10 17:10] mmatur commented on #2393
Every time someone does not respect the issue's template, a little bunny dies.

<details>

![southpark - estrella kill rabbit](https://user-images.githubusercontent.com/5674651/27143914-3cea7896-5130-11e7-81f8-02d8ac2da7a7.gif)
![southpark - estrella kill rabbit2](https://user-images.githubusercontent.com/5674651/27143924-49104c72-5130-11e7-82ae-ccedbd5dfa1c.gif)

</details>
<br>

Please edit your

[2017-11-10 18:13] dfredell commented on #2368
I'm having the same issue.
When on the http://<traefik>/dashboard/#/health page it is doing requests to http://<traefik>/health and failing. There wasn't anything in the Traefik logs when at DEBUG. Here is the request from Chrome:

I'm on docker traefik:v1.4.1-alpine and also tried traefik:v1.4.1-alpine and  traefik:v1.4.0-alpine with no luck.
I'm using consul-catalog and consul settings running c

[2017-11-10 18:15] shadycuz commented on #2368
Sorry I couldn't provide debug logs, and it randomly started working later
that day.

On Nov 7, 2017 8:25 AM, "Ludovic Fernandez" <notifications@github.com>
wrote:

[2017-11-10 18:20] dfredell commented on #2368
I was able to resolve my issue by removing the following block from the `server` section in the /etc/nginx/nginx.conf. Guess this one was user error. Hopefully if anyone else has this issue my comment will help.

[2017-11-10 18:48] ldez commented on #2393
Thanks for your interest in Traefik !

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-11-10 18:48] #2393 closed

[2017-11-10 20:07] vincentmele commented on #2394
Additionally, when running Traefik in Docker swarm mode, Traefik will not elect a leader without additional permissions. After trial and error, I discovered that the "session" Consul permission is needed.
Therefore, my "working" ACL is:
[code]

[2017-11-10 23:50] mch1307 commented on #2369
opt-out with clear mention + easy and documented way to turn it off.
If behind firewall, it will be blocked anyway

[2017-11-11 03:47] indigoid commented on #2067
so... after a long hiatus, I was able to find some time to implement this, and have done so. Code works but need to sort out docs etc to match. PR to come. @marco-jantke it will probably need a lot of help as Golang's not my thing

[2017-11-11 14:56] NiklasA opened #2395 "Let's Encrypt issue with Traefik in Docker Swarm Mode"
Hi,

I tried to use Traefik / Let's Encrypt with Docker in swarm mode (deploying stacks). My issue is that I won't be able to access my website,  because Let's Encrypt throw errors, while validating provided certificates (see Logs). Any idea / suggestion, what I did wrong?

### My Workbench:
- Docker: 17.09.0-ce
- Docker-Compose: 1.17.1
- Traefik: v1.4.2-alpine

#### traefik.toml:
[code]

#### doc

[2017-11-11 14:59] ldez commented on #2395
Thanks for your interest in Traefik !

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-11-11 14:59] #2395 closed

[2017-11-11 15:04] NiklasA commented on #2395
@ldez:

Hi,

I read the documentation carefully and configured it in the described way. Therefore for me it is a bug report?!?

Niklas

[2017-11-11 18:27] erkolson commented on #1784
I think it is problematic to [grant `get` permission](https://github.com/containous/traefik/blob/ca5bbab20a661b3b3810aeba84f2169322c88fd4/examples/k8s/traefik-rbac.yaml) to every secret, especially in the kube-system namespace. The RBAC constraints should be limited to a specific secret resource or pattern for the secret name, for example:

[code]

Permitting only secrets in a specific name patter

[2017-11-11 21:34] deimosfr opened #2396 "Let's encrypt missing info on error"
### Do you want to request a *feature* or report a *bug*?

feature

### What did you do?

I configured Traefik on Kubernetes with let's encrypt and Cloudflare API. I've 3 FQDN for the moment to declare to Treafik. For all of them it's ok, but for one specific FQDN, it tooks several hours (~ 1 day) to be active.

I tried to find the issue but did not get enough details (even in debug mode) in the l

[2017-11-11 21:49] wvdongen commented on #706
@romainlaisne Did you find a solution for you mydomain.dev/pma problem? I've got the same problem.

[2017-11-11 21:57] wvdongen commented on #706
@romainlaisne Found the answer, use "traefik.frontend.rule=Host:mydomain.dev;PathPrefixStrip:/pma"

[2017-11-12 01:18] timoreimann commented on #1784
@erkolson I absolutely agree with you -- Traefik should be able to get along with a per-resource RBAC secrets access level just fine.

My currently planned approach to solve the more general issue should naturally bring this capability along. It's good though to have the requirement mentioned explicitly so that we can check it off once the feature lands.

[2017-11-12 18:00] Thom-x commented on #2396
I have exaclty the same error.

[2017-11-13 00:00] traefiker commented on #673
I'll close the issue due to inactivity but feel free to re-open if needed.

[2017-11-13 00:00] #673 closed

[2017-11-13 08:14] nitrique opened #2399 "Traefik docker does not reload config"
Hello,

I've an issue on docker container, wich is launched like that:

`docker run -d -p 8080:8080 -p 80:80 --name lbal -v /root/traefik.toml:/etc/traefik/traefik.toml -v /root/acme:/acme traefik`

When I change my traefik.toml on host, the process does not detect configuration change.
It's the same with nano or vim editor.

Do someone already had this issue ?

Thanks,
Nicolas

[2017-11-13 08:21] nmengin commented on #2396
Hello @deimosfr .

Please, can you check if the mandatories environment variables are correctly set : https://docs.traefik.io/configuration/acme/#dnsprovider ?

Thanks.

[2017-11-13 08:34] nmengin commented on #2339
OK @analbeard .

I close the issue

[2017-11-13 08:34] #2339 closed

[2017-11-13 08:44] deimosfr commented on #2396
Hi @nmengin,

I confirm that CLOUDFLARE_EMAIL and CLOUDFLARE_API_KEY are set and used.
It wouldn't work for 2 others FQDN if it wasn't the case. In addition when it was working for 2 of 3, I tested with other FQDN and it was working.

So ONLY for a specific FQDN, during ~1 day, it wasn't working without any comprehensive error messages and worked without doing something specific right after.

Than

[2017-11-13 09:08] ldez commented on #2399
Thanks for your interest in Traefik !

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-11-13 09:08] #2399 closed

[2017-11-13 10:00] kachkaev commented on #2351
Awesome news! Looking forward for `1.4.3` :tada:

[2017-11-13 10:33] nmengin commented on #2394
@vincentmele Many thanks for the analyzis!

In fact, for the moment, you can just allow `read access` for the key `qmslkjdfmqlskdjfmqlksjazçueznbvbwzlkajzebvkwjdcqmlsfj` but it's quite ugly...

I will fix this point with a PR to add the `traefik` prefix to this _healthcheck_ key and complete the documentation.

[2017-11-13 10:37] nmengin commented on #2396
@deimosfr

I'm going to investigate the interactions between Træfik and Lego in the way to check if we don't hide error messages from LE or if the problem is in Lego.

I'll give a feedback about  this point when I'll have more information.

[2017-11-13 10:41] deimosfr commented on #2396
Thanks !

[2017-11-13 10:54] Yajo commented on #384
So, does this mean that Traefik is able to process incoming `X-Forwarded-*` headers, or does it mean it is able to produce them for its backends (which I thought it was already happening)?

[2017-11-13 11:12] ldez commented on #384
@Yajo both, Træfik can use or create `X-Forwarded-*`

[2017-11-13 11:14] traefiker commented on #2370
Closed by #2389.

[2017-11-13 11:14] #2370 closed

[2017-11-13 18:13] ldez commented on #593
We ask ourselves questions about #2398, what do you think about the `X-Forwarded-Uri` header?

[2017-11-14 00:52] caseeker commented on #1957
Seeing the same behavior in 1.4.1 as well

[2017-11-14 01:49] pascalandy opened #2402 "Traefik is using the wrong VirtualIPs"
### Do you want to request a *feature* or report a *bug*?

Bug

### General

I run Docker swarm mode. At this moment I run about 60 services. Few `docker run` and mostly `docker service create`.

I have this bug for months now. Always thought something was wrong on my side but **now** I can show the bug is for real. I provisioned 50+ VPS (and bare metal) servers with the same issue. Over the month

[2017-11-14 06:24] AndrewBucklin commented on #2339
@nmengin -  I have successfully configured ACME / LetsEncrypt to use DNS challenge, but I'm still unable to create multiple HTTPS / TLS entry points on different ports (443 and 8443). If you have a moment, would you mind assisting? Tnx.

https://stackoverflow.com/questions/47277489/traefik-multiple-https-entry-points-with-acme-letsencrypt-dns

[2017-11-14 07:10] AndrewBucklin commented on #987
I agree. Would be useful to allow multiples (to easily redirect legacy URLs, for example):

[code]

[2017-11-14 09:05] timoreimann commented on #2376
@miadabrin turns out profiling for memory consumption in Traefik isn't possible without modifying the code as of now. :( Specifically, we need to enable pprof and ideally expose a pprof handler.

I can try to carve out some time to put together a quick supporting hack based on Traefik 1.4. Would that work for you?

[2017-11-14 09:10] miadabrin commented on #2376
@timoreimann Would be glad to help. But please note the stack is in production. I can't just test anything on it

[2017-11-14 09:15] timoreimann commented on #2376
@miadabrin thanks. I'll focus on making it as little invasive as possible and for sure to have an option to turn it on/off quickly.

[2017-11-14 10:36] ldez commented on #2189
After some exchanges with the team, `routes` has a particular behavior: the `routes` in a frontend are associated like a `AND` and not like a `OR`.

I will closed due do that.

[2017-11-14 10:36] #2189 closed

[2017-11-14 10:38] #2394 closed

[2017-11-14 10:38] traefiker commented on #2394
Closed by #2400.

[2017-11-14 13:20] gabrielfsousa commented on #1898
traefik.frontend.entryPoints: http,https
didnt work for me :( it only shows http

[2017-11-14 14:51] agabert commented on #1924
Please start supporting ingress.kubernetes.io/ssl-redirect as an annotation in traefik.

[2017-11-14 16:42] soul9 commented on #1903
Looks like the pr has been merged. It would be really nice to see this functionality in the next release.

[2017-11-14 16:52] kedare opened #2408 "Supports full regexes when using Kubernetes as a backend"
### Do you want to request a *feature* or report a *bug*?

Feature

### What did you do?

When trying to setup a pseudo wildcard or a regex on a Kubernetes ingress, the Kubernetes validation on the "host" field reject anything complicated (That is supported by Traefik, like regexes)

Example of ingress controller

[code]
### What did you expect to see?

The correct information passed to Traefik, a

[2017-11-15 00:51] djmaze commented on #384
As documentation on this new feature is very sparse, I'd like to ask if this allows proxying TCP connections (e.g. SMTP) as well?

[2017-11-15 08:57] chiennv97 opened #2409 "Custom load balancing algorithm: select same backend if parameter GuideID % 2 return same value?"
### I want to request a *feature*.

### Custom load balancing algorithm:
Select same backend if parameter GuideID % 2 return same value

### Example:

- I have server A: localhost:9997, server B localhost:9998

- Server Traefik: localhost:8080

- Parameter GuideID % 2 == 1 ---> forward request to server A

- Parameter GuideID % 2 == 0---> forward request to server B

- Request 1: http://localhost:

[2017-11-15 09:22] MichaelErmer commented on #1827
@ldez how can i assist with more info on this?

[2017-11-15 09:26] ldez commented on #1827
@MichaelErmer I have already analyze the problem. It's in Go itself.
For now I don't have a clean solution.

[2017-11-15 11:31] kachkaev commented on #2351
I just upgraded to `1.4.3` and the problem was gone! Many thanks for your PR @Juliens 🎉🎉🎉

[2017-11-15 11:57] DmitriyProkhorov opened #2410 "The WebUI interface shows an incorrect number of frontends (Docker swarm mode)"
### I want to request a bug.

Web UI for traefik in docker swarm mode:

When the backends scale, the number of frontends becomes equal to the number of backends on the Web UI dashboard
The problem began with version 1.4.2 and is repeated on version 1.4.3

### Output of `traefik version`: (_What version of Traefik are you using?_)

[code]

### What is your environment & configuration (arguments, to

[2017-11-15 13:49] llitfkitfk commented on #2410
same issue

[2017-11-15 14:07] Yggdrasil commented on #384
@djmaze No, it does not. Traefik itself is still just a HTTP proxy. The (confusingly named) PROXY Protocol does not proxy anything but it just adds a human-readable header to the front of each connection which contains the original client's IP, destination IP and port numbers. Since the header can be added to any layer-7 protocol it's protocol-agnostic but in this case it's implemented for a HTTP

[2017-11-15 14:56] ezkrg opened #2412 "docker stack with macvlan network: backend server url http://<nil>:80"
### Do you want to request a *feature* or report a *bug*?

~bug~ feature

### What did you do?

docker stack deploy with macvlan network based on local network config template and traefik with backend docker

### What did you expect to see?

Expect backend url http://*stack*_*service*:80 in my case http://traefik_nginx:80 or  replicas ip address from macvlan pool one by one

### What did you see i

[2017-11-15 19:01] vincentmele opened #2416 "TLS.CipherSuites not working with KV (Consul)"
### Do you want to request a *feature* or report a *bug*?
Report a bug.

### What did you do?
Added traefik/entrypoints/https/tls/cipherSuites key in Consul 1.0 to set cipherSuites. ( I have the consul prefix to "traefik" and the entrypoint name is "https". )
 Similar to the .toml file configuration, I tried individually:
`["TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256"]`
`"TLS_ECDHE_RSA_WITH_AES_128_GCM

[2017-11-15 21:36] ezkrg commented on #2412
I did some other tests:
1. just use the public (ingress) network the backend url result: http://:80
2. not use external networks, stack creating overlay network on deploy, the result is a valid http://*ipaddress*:*port* format
3. use stack created overlay network and external vlan network resulted with http://\<nil\>:80

[2017-11-16 08:49] Yajo commented on #384
What is not clear to me is how to configure Traefik to consume or produce these headers.

For instance, I want it to produce but **not consume** when it is configured facing the public network, to avoid attackers forge poisoned requests, but I want it to **forward** them when it is facing an internal network, behind another proxy.

What would be then the right configuration for each scenario? Docs

[2017-11-16 09:17] ldez commented on #384
Thanks for your interest in Traefik 😃

This issue is closed. Please open a new issue or discuss this in :
- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-11-16 11:03] Gabology opened #2417 "Combining frontend matchers is only using the first matcher"
### Do you want to request a *feature* or report a *bug*?

bug

### What did you do?

I added a service label for a docker service, combining two different frontend matchers as follows:

[code]

### What did you expect to see?

Requests going to both `foo.bar/` and `bar/foo` to go to the backend.

### What did you see instead?

Requests with `Host: foo.bar` will go to the backend, requests with `H

[2017-11-16 19:19] Gwend4l opened #2418 "Option to store letsencrypt certificates as .pem files, instead of (or next to) acme.json?"
### Do you want to request a *feature* or report a *bug*?

feature

### Description

Could we imagine an option to store the letsencrypt certificates as `.pem` files instead of  (or next to)  the `acme.json` file?

This would be very useful to be able to directly reuse certificates in other non-web applications that rely on TLS (eg. [synapse](https://github.com/matrix-org/synapse) or [prosody](htt

[2017-11-16 20:24] ezkrg commented on #2412
Removing labels 2 labels, change the debug output:
        - "traefik.backend.loadbalancer.swarm=true"
        - "traefik.backend.loadbalancer.method=wrr"

[code]

[2017-11-16 21:20] ezkrg commented on #2412
When using macvlan no *Addr* only *NetworkID* defined in service:
[code]
But network side we can find it:
[code]

[2017-11-17 07:44] onelogin-deploy-client commented on #2261
@poweryang1990 I was able to resolve this by explicitly setting the method to POST in the frontend rule. Try something like `Method:POST;PathPrefix:/userservice`
Hope this helps.

[2017-11-17 07:45] mattbarrio commented on #2261
@poweryang1990 I was able to resolve this by explicitly setting the method to POST in the frontend rule. Try something like `Method:POST;PathPrefix:/userservice`
Hope this helps.

[2017-11-17 12:08] dottgonzo commented on #2346
i've the same problem on ruby on rails heavy app

[2017-11-17 16:22] #926 closed

[2017-11-17 16:22] #1034 closed

[2017-11-17 16:22] #1974 closed

[2017-11-17 16:22] #1975 closed

[2017-11-17 16:22] #2069 closed

[2017-11-17 17:19] zyclonite commented on #1975
looks like alexandre is in the process of (or even already done) renaming the libkv to valkeyrie (https://github.com/abronan/valkeyrie)

... and continuing to maintain only this repository

[2017-11-17 19:30] dtomcej commented on #2417
You have combined 2 matchers with an "OR" operator, so your observed behaviour is as expected.

If you used a semicolon instead of a comma, it would be an "AND" operator, and would provide the behaviour you are looking for.

Please see https://docs.traefik.io/basics/#matchers for more documentation.

[2017-11-17 19:30] #2417 closed

[2017-11-17 21:06] rgarrigue commented on #994
@ldez, the docker-compose.yml example from @prologic for docker swarm could go somewhere in the doc, maybe a specific User Guides.

The current one are instructive to get started, but in the end one won't go for bash one liner, more likely for a docker-compose.yml. And the exact syntax is hard to come by, especially since there's so many doc to be read... I think I overlooked swarm-mode' node link

[2017-11-17 22:32] else commented on #1290
This is still relevant.

[2017-11-18 00:04] ldez commented on #1290
Now, all available labels are in the documentation : https://docs.traefik.io/configuration/backends/docker/#labels-overriding-default-behaviour

[2017-11-18 00:10] #1827 closed

[2017-11-18 00:10] traefiker commented on #1827
Closed by #2420.

[2017-11-18 06:09] aantono commented on #2373
I suspect the issue might be here: https://github.com/containous/traefik/blob/master/vendor/github.com/vulcand/oxy/forward/rewrite.go#L69

Oxy checks if the request has TLS on it, and only then assigns port `443`, unless an explicit port was given in the request URL.

Do you have an actual certificate connected to your Traefik entry point, as I don't see it indicated in the config above?  If there

[2017-11-18 10:45] ldez commented on #2373
Related to #2224

[2017-11-18 12:34] #2267 closed

[2017-11-18 12:43] ichasco opened #2422 "Error creating server: http2: TLSConfig.CipherSuites index 1 contains an HTTP/2-approved cipher suite"
### Do you want to request a *feature* or report a *bug*?

A bug

### What did you do?

Configure TLS and ciphers

### What did you expect to see?
TLS ciphers well configurated

### What did you see instead?
Traefik doesn't show any web

### Output of `traefik version`: (_What version of Traefik are you using?_)
1.4.3

[code]

### What is your environment & configuration (arguments, toml, provider

[2017-11-18 12:50] #1456 closed

[2017-11-18 12:50] #541 closed

[2017-11-19 18:46] narramadan commented on #1156
I am facing the same issue when running `docker stack deploy --compose-file docker-compose.yml someservice`.

Unless I specify label as `- "traefik.docker.network=someservice_proxy"` as proposed by zweizeichen, I am receiving Gateway Timeout error.

Is this the right way to do - appending the project name or name of stack as prefix to `traefik.docker.network` ? As we might change the name of the s

[2017-11-19 20:45] gopenguin commented on #378
As far as I can see this, this issue is about supporting an easy way to setup a tls ingress in kubernetes. But is acme realy necessary for this as the kubernetes ingress object already provides a way of specifing a tls cert (https://kubernetes.io/docs/api-reference/v1.8/#ingressspec-v1beta1-extensions)?

[2017-11-19 22:04] timoreimann commented on #2376
@miadabrin based on my recently submitted PR #2428, I have backported support for Go pprof HTTP handlers to the 1.4 branch and pushed a custom Docker Hub image at `timoreimann/traefik:v1.4.3-pprof`. Could you please start that image with the `--debug` option (or `debug = true` in the TOML configuration file), wait for the high memory usage to surface, and then send me the profile data available at

[2017-11-19 22:31] rsoika opened #2430 "traefik.toml file seems not to be read by docker-compose configuration"
My goal is to protect the traefik front-end with basic authentication.

I am running Traefik version v1.4.3 built on 2017-11-14_11:14:24AM in a Docker container.

My docker-compose.yml file looks like this:

[code]

The section for the web frontend in my traefik.toml file looks like this:

[code]

But my custom traefik.toml file seems not to be mountet/read by traefik - still no authentication nec

[2017-11-19 22:33] ldez commented on #2430
Thanks for your interest in Traefik !

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-11-19 22:33] #2430 closed

[2017-11-20 00:42] timoreimann commented on #2346
Sorry for losing attention on #1926. In order to stay focused, I'll close this issue and comment on the other one. Let's see if we can figure out the reason.

Thanks for the bump!

[2017-11-20 00:42] #2346 closed

[2017-11-20 00:51] timoreimann commented on #1926
One reason why this can apparently happen is due to disappearing clients (see also golang/go#20071). Is there a chance that Traefik is running out of capacity or backends cannot keep up with the request rate causing clients to eventually lose patients and prematurely terminate the request to Traefik?

[2017-11-20 05:47] cycwll opened #2431 "kubernetes use traefik loadbalance，need sticky session ,How should I configure?"
### Do you want to request a *feature* or report a *bug*?

### What did you do?

### What did you expect to see?

sticky session

### What did you see instead?
not  sticky session

### Output of `traefik version`: (_What version of Traefik are you using?_)
v1.43

[code]

### What is your environment & configuration (arguments, toml, provider, platform, ...)?

[code]

### If applicable, please past

[2017-11-20 07:14] cycwll commented on #2431
in service configure file ,Annotations can be used on the Kubernetes service to override default behaviour:

apiVersion: v1
kind: Service
metadata:
  name: nginx-traefik
  annotations:
    traefik.backend.loadbalancer.sticky: "true"
spec:
  sessionAffinity: ClientIP
  ports:
    - name: http
      port: 80
      targetPort: 80
  selector:
    app: nginx-traefik

[2017-11-20 07:14] #2431 closed

[2017-11-20 10:04] #1648 closed

[2017-11-20 11:33] alkar commented on #2373
@aantono That sounds right. As described above, traefik sits behind an ELB that does the SSL offloading so from its point of view, the traffic it receives is not encrypted (hence, `X-Forwarded-Proto` is truly `http`).

However, that ELB also has Proxy Protocol enabled and the header clearly states the port is 443, which is what I expect to see in `X-Forwarded-Port`.

Failing that, I would at least

[2017-11-20 12:08] xbblq7n opened #2433 "How to scrape application metrics via Traefik"
We have multiple applications deployed via docker.
The health metrics for these applications are exposed via traefik load balancer url.
When i hit
curl -H 'Host: test.docker.local' 'http://LB-URL/metrics'
i get the metrics.
Can someone guide me how to scrape these metrics to Prometheus ( using static target or dynamic)

Below is the output when i hit the curl command.

/# HELP createServer_request

[2017-11-20 13:23] ldez commented on #2433
Thanks for your interest in Traefik !

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-11-20 13:23] #2433 closed

[2017-11-20 13:29] Riduidel commented on #2299
Feature is also needed by company security policy. Is there any work planned by containous wonderful team on this subject ? I would gladly have worked on it, but my go-fu is far from enough to be of any help.

[2017-11-20 13:38] mccormd commented on #378
Wow, just tried traefik and discovered no TLS support from standard kubernetes ingress objects and secrets.  Well, that's gonna prevent any meaningful deployment - so it's back to nginx and its problematic reloading.  I can't understand why this wouldn't be a critical missing feature for the traefik devs?

[2017-11-20 13:47] Hurobaki opened #2435 "Traefik HTTPS not fully secure"
### What did you do?

I try to configure my server with Traefik using Docker containers. I configured Traefik so it works, I got the dashboard page. The thing is I would like to have my own GitLab server. I pulled GitLab docker image and I created a docker-compose file.

Even if GitLab container takes long time to start, it seems to work. I'm able to see the Gitlab backend from Traefik dashboard.

[2017-11-20 13:49] gopenguin commented on #378
I had some sparetime and tried a simple implementation. It wouldn't be that complicated but is this the right issue or should this case be handled in another one?

[2017-11-20 13:50] roffe commented on #378
ACME and LE is only usable if the services are publicly exposed. For any "internal" ingresses where the hostname isn't publicly reachable or even queryable, it would simply not work at all

[2017-11-20 14:01] ldez commented on #2435
Thanks for your interest in Traefik !

Do you still have the same problem with the latest version? [releases](https://github.com/containous/traefik/releases)

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

- [Stack Overflow](https://stackoverflow.com/qu

[2017-11-20 14:01] #2435 closed

[2017-11-20 14:16] traefiker commented on #2410
Closed by #2434.

[2017-11-20 14:16] #2410 closed

[2017-11-20 17:46] ezkrg commented on #2412
I replaced macvlan with internal overlay, so this seems to be more like feature request than bug :)

[2017-11-20 19:26] gopenguin opened #2438 "Add tls support for k8s ingress resource"
### Do you want to request a *feature* or report a *bug*?
feature

### What did you do?
I've setup a k8s cluster, configured traefik, a webservice and an ingress resource with a tls cert in a secret.

### What did you expect to see?

Traefik reads the cert in the secret and uses this cert for tls termination and forwards the unencrypted requests to the backend service.

### What did you see instea

[2017-11-20 19:29] gopenguin commented on #2438
This issue is related to #378 which is also about tls in kubernetes but using acme and kubernetes secrets to store the aquired certs.

[2017-11-20 19:56] zyzop commented on #692
Hello,
doing it like traefik.frontend.rule=example.com,example2.com seems to be bad for automated parsing, and rather hard to read.
Can it be done like
traefik.frontend.rule1=example.com
traefik.frontend.rule2=example2.com

?

[2017-11-20 20:09] ldez commented on #692
Thanks for your interest in Traefik 😃

This issue is closed. Please discuss this in :
- the [Traefik community Slack channel](https://traefik.herokuapp.com)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag

[2017-11-21 09:46] athoune opened #2441 "Adding APDEX info to metrics"
### Feature proposition : add APDEX counters in metrics

[APDEX](https://en.wikipedia.org/wiki/Apdex) is a quality score, the ratio of requests below an arbitrary score, with some magical math tricks to handle two thresolds : `satisfied` and `tolerating`.

APDEX score is an aggregation, and timeseries doesn't like it : you can't aggregate aggregations. But, it's easy and cheap to store raw data, a

[2017-11-21 16:26] zaggash commented on #1156
I have the exact same issue with only one network  with swam enabled.
17.09.0-ce
traefik 1.4.2

I have to hardcode the label "traefik.docker.network" which is not expected
If the stack name change the whole setup fall appart.

[2017-11-21 16:36] homelan-git opened #2444 "redirect to host:port failed with TOML's file section"
### What did you do?

I'm working on proxmox host (pve-1.home.lan) with docker and wan't to expose the proxmox WEB API using traefik's tompl frontend/backend configuration:

    defaultEntryPoints = ["http", "https"]
    [web]
    address = ":8080"
    [entryPoints]
      [entryPoints.http]
      address = ":80"
      [entryPoints.https]
      address = ":443"
    [docker]
    endpoint = "unix:///

[2017-11-21 19:58] kachkaev commented on #563
Here is my current solution for k8s until I find something better 😆

Meet namespace `redirects`!

[code]

[code]

Thankfully I don't have that many client-facing microsercices that start with `example.com/some-path`. I know the above solution is terrible, so if anyone has any better suggestions, I'll be happy throw away all of the above manifests!

[2017-11-21 20:41] antvalencia commented on #750
@adrianfalleiro, I had the same issue and your note about a "conflict between the subnet of my docker network and the VPC network" solved my issue for deployment to EC2 via docker-machine.  Thanks a bunch!

[2017-11-22 04:30] aantono commented on #2441
IMHO, I'm not sure how relevant (widespread in demand) is this metric (especially given that the APDEX alliance hasn't been active for years, according to their site).  With the modern monitoring systems, that support dimensions, like DataDog, Prometheus, InfluxDB, etc, one can query for only values that fall within the defined thresholds, i.e. in DataDog, for example, it is possible to get counts

[2017-11-22 09:22] emilevauge commented on #2369
Hello there, a PR has just been opened on this #2447 :)

[2017-11-22 09:44] allamand opened #2448 "On Kubernetes adding accessLog to traefik.toml removed default entryPoint"
### What did you do?

I'm using Traefik as an Ingress Controller on Kubernetes GKE.
That works fine with this configuration :
[code]

Now I want to have Access Logs in the traefik output, So I added `[accessLog]` to my traefik.toml

### What did you expect to see?

I was expecting to have traefik works normally and to logs my accessLogs

### What did you see instead?

I can see accessLog in the ou

[2017-11-22 10:35] rmrf opened #2450 "[feature request] entrypoint provide tcp mode beside of http and https?"
I really like traefik which I have already using it for our https related project.

I'm looking forward entryPoint can provide tcp mode beside of http and https, then I can use it inside our Container Cluster for LB.  currently we are using haproxy and nghttp for this kind of job.

does tcp mode on the roadmap ?

[2017-11-22 11:43] Juliens commented on #2450
Duplicate of #10

[2017-11-22 11:43] #2450 closed

[2017-11-22 13:10] athoune commented on #2441
APDEX alliance is a zombie, but NewRelic still exists. APDEX is just a mathematical formula.

Prometheus, Influxdb can store consolidated data, with a specific sampling. If you store one line per hit, like ELK does, the storage is huge. It's two different and complemnetary usages. With logs you can build metrics and buy hardrives. Logs cover a short periode, few weeks, and fill S3 like storage for

[2017-11-22 14:25] sagikazarmark commented on #2139
To be honest I'm confused as hell because of comments like this: https://github.com/containous/traefik/issues/790#issuecomment-257607671

As far as I know, TLS is *not* required for HTTP2, still everywhere I look (even the [documentation](https://docs.traefik.io/user-guide/grpc/)) says it requires HTTPS.

I don't know if there is a blackhole in my mind and completely miss something or as the title

[2017-11-22 16:47] RiwanBodereau commented on #2260
Hello,

Any update on this ? it would be extremely useful 😄

I think that we need something similar to Apache `Satisfy Any` directive.

For example, if you wanted to let people on your network have unrestricted access to a portion of your website, but require that people outside of your network provide a password.

Thanks in advance

[2017-11-22 17:20] #2390 closed

[2017-11-22 17:57] timoreimann commented on #2139
@sagikazarmark you [seem to be correct](https://http2.github.io/faq/). I also remembered this differently, but maybe that was before the final version or the standard was ratified.

FWIW, the linked FAQ states that of the major browsers support unencrypted traffic right now. That doesn't apply to web services, of course.

[2017-11-22 18:40] #1903 closed

[2017-11-22 20:39] dtomcej commented on #2448
Hello @allamand, `defaultEntrypoints` is a field in the commons section (http://docs.traefik.io/configuration/commons/) of the toml file. It needs to appear before any toml blocks ([]).

Re-ordering your toml:
[code]
Should provide you the behaviour you expect.

[2017-11-22 20:40] dtomcej commented on #2448
@allamand Can you try that, and see if that resolves your issue?

[2017-11-23 03:50] adam-kosseck opened #2454 "Traefik support for Trusted SSL Certificates"
### Do you want to request a *feature* or report a *bug*?
bug

### What did you do?
Attempted to start Traefik with a trusted SSL certificate specified in traefik.toml.
Trusted SSL certificates have slightly different header/footer text compared to regular SSL certificates:

[code]
### What did you expect to see?
Traefik start successfully

### What did you see instead?
Traefik failed to start. Th

[2017-11-23 10:30] nmengin commented on #2454
Hello @adam-kosseck

Your issue seems to be related to #2001.
Indeed, the Go lang library check the certificates header and footer before to read the certificate file content.

As you can see [here](https://github.com/golang/go/blob/release-branch.go1.9/src/crypto/tls/tls.go#L218), the error message is due to bad header/footer.
Deleting the word **TRUSTED**, as you did, allows you to have an [head

[2017-11-23 10:30] #2454 closed

[2017-11-23 13:00] asbjornenge commented on #750
I got this working with docker swarm running `certbot` container with `--net host` (opting out of the overlay network) 👍

[2017-11-23 15:30] giwery opened #2458 "Traefik basic auth not work with https"
### Do you want to request a *feature* or report a *bug*?
*bug*

### What did you do?
 I run service in docker swarm with next labels:
[code]
### What did you expect to see?

I want to use basic auth for my application

### What did you see instead?

Basic auth don't work with https protocol:
[code]
But for http it's ok:
[code]
### Output of `traefik version`: (_What version of Traefik are you usi

[2017-11-23 20:27] phaseOne commented on #1660
@timoreimann Can we re-evaluate this proposed change? nginx already has this behavior, and it would be useful during development.

For instance, I am using traefik in a docker-compose stack, and I would like to reload traefik's configuration without bringing the whole stack down.

[2017-11-23 20:30] emilevauge commented on #1660
@phaseOne you can still restart your Traefik container without bringing the whole stack down right ?

[2017-11-23 22:21] Gui13 opened #2459 "Scaling down with docker compose seems to mess up routing"
### Bug
### What did you do?

I have a docker-compose file for my service:

[code]

I start with one instance (`docker-compose up -d`), traefik sees it, auto configures, and curl sees the wiki on mydomain.com/wiki/
With two instances (`docker-compose scale dokuwiki=2`), traefik handles the routing correctly as well.

Now if I execute `docker-compose scale dokuwiki=1` to scale down, traefik seems t

[2017-11-24 06:32] rmetzler commented on #1660
I was curious how NGINX and other long living processes handle SIGHUP, so I looked it up. From what I learned, SIGHUP is indeed often used to reload configuration, but it's not a standard behaviour every daemon process implements.

- NGINX: http://nginx.org/en/docs/control.html

- Apache has similar behaviour: https://httpd.apache.org/docs/2.4/stopping.html#hup

- Wikipedia's last sentence of "Mod

[2017-11-24 08:27] JorritSalverda opened #2462 "Feature request: google cloud backend"
### Feature request

I'm considering Traefik to load balance traffic towards Google Cloud managed instance groups, however the GCE service discovery is currently not supported as a backend.

Not sure how hard it's too implement. Prometheus has an implementation at https://github.com/prometheus/prometheus/blob/master/discovery/gce/gce.go. It does work with 1 minute interval polling by default I bel

[2017-11-24 09:22] nmengin commented on #2396
Hello @deimosfr,

I analyzed deeper the problem and apparently it comes from the the Json decoding of the body contained in the reponse when the challenge is presented to Let's Encrypt.
As you can see [here](https://github.com/xenolf/lego/blob/master/providers/dns/cloudflare/cloudflare.go#L209), it's difficult to get more information on the cause of the error but, I opened a [PR](https://github.co

[2017-11-24 09:34] deimosfr commented on #2396
Thanks a lot @nmengin, looks got. Hope it will be soon merged

[2017-11-24 13:34] allamand commented on #2448
@dtomcej thanks for your response, I confirm that reordering the file make it works again!! thanks.

It was not obvious to find the problem and why in this case the default value was not applied, maybe it can be useful to add a note in the documentation

Thanks

[2017-11-24 14:18] ldez commented on #2448
I'll close this issue, because I think the question is answered.

[2017-11-24 14:18] #2448 closed

[2017-11-24 15:15] allamand commented on #2448
yes thanks you

[2017-11-24 15:57] giwery commented on #2458
I disable http-->https redirect and get the same error for http:
[code]

[2017-11-25 12:43] ldez commented on #2369
Closed by #2447

[2017-11-25 12:43] #2369 closed

[2017-11-25 22:23] bmhm opened #2466 "Documentation of CipherSuites, http2 and TLSv1.3"
I need to disable those cipherSuites (taken from ssllabs test):
* TLS_ECDHE_RSA_WITH_3DES_EDE_CBC_SHA (0xc012)   ECDH x25519 (eq. 3072 bits RSA)   FS   WEAK
* TLS_RSA_WITH_3DES_EDE_CBC_SHA (0xa)   WEAK

### What did you expect to see?
On page: https://docs.traefik.io/configuration/entrypoints/
* A list of CipherSuites or at least how to obtain the names.
* A list of values for minVersion.
* sth ab

[2017-11-26 00:55] ldez commented on #2466
Thanks for your interest in Traefik 😃

As suggested in the documentation [entrypoints/#specify-minimum-tls-version](https://docs.traefik.io/configuration/entrypoints/#specify-minimum-tls-version) you can find the list of the cipher suites and list of values for `minVersion` in  [crypto/tls](https://godoc.org/crypto/tls#pkg-constants).

You can also find the lists here: [tls/certificate.go](https:/

[2017-11-26 05:34] murrayju commented on #987
I can't quite tell what here is supposed to be working, and what is suggested syntax, but I'm trying to do something similar and can't figure it out.

In my case, I want all http requests to be redirected to https, *except* for a single subdomain `unsecure.domain.tld`. Can anyone give me an example config that would work for this?

[2017-11-26 16:56] bmhm commented on #2466
Thanks for your answer! Yes, I really do like traefik!

I don't know what I did wrong the last time. Now it works just fine using the docs you provided. Currently this works fine and seems like a sane default:
`cipherSuites = [ "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256", "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256", "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305", "TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA", "TLS_ECDHE_R

[2017-11-26 16:59] bmhm commented on #2466
While we were writing:
Golang TLSv1.3 issue just got the 1.10 tag (next version). Hooray!

https://github.com/golang/go/issues/9671

[2017-11-27 03:09] llitfkitfk opened #2467 "docker hub missing version:1.4.4"

[2017-11-27 03:15] rmrf opened #2468 "does XForwardedHost need to setup by default for each request?"
I'm asking as we encounter issue when put Traefik before hue (https://github.com/cloudera/hue).  Traefik will put `XForwardedHost` inside each request, which make hue response 400.

So I comment out this for make it working (https://github.com/rmrf/traefik/commit/13a1ecb0b2ec2aa4c391e69a769aa399a34658c4)

does XForwardedHost need to setup by default for each request? what will affect if the client

[2017-11-27 03:37] c-knowles commented on #2364
I started to look through the code in https://github.com/containous/traefik/pull/2262/files but could not immediately spot any issue.

[2017-11-27 06:29] menew commented on #570
Hi, I've came across the same issue as @CyrilPeponnet by simply enabling BoltDB when evaluating traefik 7a141c8616a60414a048fe5cf7145d7f4e8a0d43 on my local environment.

    $ ./traefik version
    Version:      dev
    Codename:     cheddar
    Go version:   go1.9.2
    Built:        I don't remember exactly
    OS/Arch:      linux/amd64

    $ ./traefik storeconfig --debug --boltdb --boltdb.end

[2017-11-27 08:31] nmengin commented on #2458
Hello @giwery and tahankyou for the interest in the project.

Just a question, can you check if your password is encrypted thanks to the `htpasswd` command?
Indeed, as described [here](https://docs.traefik.io/configuration/entrypoints/#basic-authentication), you have to use this tool to encrypt your password.

You can check it thanks to this [website](http://www.htaccesstools.com/htpasswd-generato

[2017-11-27 09:48] ldez commented on #2467
We are dependent of Docker for the publication.
Due to Thanksgiving, the publication has been delayed, we have to wait tonight (EU).

You can follow https://github.com/docker-library/official-images/pull/3740

[2017-11-27 09:48] #2467 closed

[2017-11-27 09:48] ldez commented on #2468
Thanks for your interest in Traefik !

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-11-27 09:48] #2468 closed

[2017-11-27 15:35] ldez commented on #2090
Closed by #2117

[2017-11-27 15:35] #2090 closed

[2017-11-27 16:31] giwery commented on #2458
@nmengin I used MD5 for my password, also I have tried with htpasswd but unsuccessful:
[code]
And here is the result:
[code]

[2017-11-27 16:43] ldez commented on #2458
@giwery  could you try:
[code]

[2017-11-27 17:00] giwery commented on #2458
@idez I found cause of problem, I deploy service as a stack with traefik variable `"traefik.frontend.auth.basic=test:$$apr1$$EaOXV0L6$DQbzuXBeb6Y8jjI2ZbGsg/"`. But after deploy value of this variable looks like `test:/`. After manually setting correct value - auth work fine.
Also I have tried deploy service with command `docker service create` and variable have correct value.
Thanks for help guys!

[2017-11-27 17:05] dfredell opened #2472 "Redirect documentation/ log missing hierarchy rule"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

- I wanted to do a redirect of http to https only if the host matched my regex
- So I read the docs and had both entryPoints.http.redirect.entryPoint and entryPoints.http.redirect.regex because it said nothing against doing both
- This didn't work as I had expected, so I read the source code https://github.com/co

[2017-11-27 18:06] #2458 closed

[2017-11-27 21:30] dtomcej commented on #2472
This issue has been resolved in https://github.com/containous/traefik/pull/2243.

There are multiple notices in the documentation now about this situation, warning of the behavior of filling out all the fields. This should be live in 1.5.

[2017-11-27 21:30] #2472 closed

[2017-11-28 02:35] dkinzer commented on #427
I ran into the same issue using the docker image for the latest build.

[2017-11-28 06:12] pjebs opened #2474 "UDP support coming?"

[2017-11-28 07:34] #2474 closed

[2017-11-28 07:35] ldez commented on #2474
Thanks for your interest in Traefik !

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-11-28 08:28] mmatur commented on #2459
Which docker and docker compose versions are you using ?
`docker version`
`docker-compose version`

[2017-11-28 08:55] pjebs commented on #2474
Seems like a feature request to me

[2017-11-28 08:56] MichaelErmer opened #2475 "More information about errors in /health api"
### Do you want to request a *feature* or report a *bug*?

*feature*

### What did you do?

Currently the recent errors feed only contains very basic information about a failed request, in order to investigate or replay such request it is important to have all information about it, especially the request headers and the remote ip address.

Either parsed headers or raw, both would be helpful.

###

[2017-11-28 09:06] Gui13 commented on #2459
Docker:
[code]

Docker compose:
[code]

[2017-11-28 09:24] ldez commented on #2474
Duplicate of #10

Also could you respect the template.

[2017-11-28 10:30] jbpin commented on #2139
Hi,
Maybe it's not the right place for this and so doing feel free to indicate me a better place to post this question.
I have grpc services in container running on docker. I try to do TLS Termination. In this case, Traefik handle http/2 secure communication and internally, request to my gRpc service in the container is insecure.
[code]
Unfortunately, Traefik try to talk with my server using http/

[2017-11-28 12:58] traefiker commented on #2459
Closed by #2478.

[2017-11-28 12:58] #2459 closed

[2017-11-28 13:31] Ppito commented on #2260
Hello,

I'm also really interested by this feature.
In my case, I want to have an authentication everywhere except in my company.

Thanks,

[2017-11-28 14:50] deric commented on #364
@dustin-decker see https://github.com/containous/traefik/issues/2367

[2017-11-28 16:00] c0fe opened #2481 "Add Config Management to UI"
I propose a new feature, the ability to manage the configuration through the web UI, this would allow for easier configuration of how you want to set the various features of Traefik.

[2017-11-28 16:34] ldez commented on #2481
Every time someone does not respect the issue's template, a little bunny dies.

<details>

![southpark - estrella kill rabbit](https://user-images.githubusercontent.com/5674651/27143914-3cea7896-5130-11e7-81f8-02d8ac2da7a7.gif)
![southpark - estrella kill rabbit2](https://user-images.githubusercontent.com/5674651/27143924-49104c72-5130-11e7-82ae-ccedbd5dfa1c.gif)

</details>
<br>

Please edit your

[2017-11-28 18:01] GabKlein commented on #1286
Would be ideal to have this support for docker swarm backend

[2017-11-29 07:38] mvasin opened #2484 "Super-tables are not created automatically (or don't work as expected)"
### Do you want to request a *feature* or report a *bug*?

A bug.

### What did you do?

I created a `traefik.toml` file with the only line:
[code]
and started it with `docker run -p 8080:8080 -v $PWD/traefik.toml:/etc/traefik/traefik.toml traefik`

### What did you expect to see?

A working container, because as `toml` specification says,

so I don't have to specify `[web]` in addition to `[web.s

[2017-11-29 09:10] menew commented on #2416
As far as I can see (by checking behaviour of `storeconfig`), staert seems to put each items of an array into separate keys that are suffixed with its index.

For example, this configuration:

    [entryPoints]
      [entryPoints.https]
        [entryPoints.https.tls]
        cipherSuites = ["TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256", "TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA"]

will be saved as following

[2017-11-29 09:12] Gui13 commented on #2459
Hi @mmatur , do you have an estimate on when the fix will land in a new traefik release?

[2017-11-29 09:16] ldez commented on #2459
@Gui13 it's in the 1.5.0-rc1

[2017-11-29 13:00] MrOerni commented on #1081
Same problem here.

[2017-11-29 14:09] lawrencegripper opened #2489 "Health API endpoint not returning stats"
### Do you want to request a *feature* or report a *bug*?

A bug.

### What did you do?

1. Start Traefik v1.5rc1
2. Send requests through traefik
3. Check both `/health` endpoint and dashboard

### What did you expect to see?

Stats populated for `TotalRequestCount` etc

### What did you see instead?

No stats populated. The `/metrics` endpoint does appear to have some stats.

### Output of `trae

[2017-11-29 15:06] Lekensteyn commented on #2466
@bmhm Go 1.10 won't have TLS 1.3 support, the ticket is currently assigned for Go 1.11 but I doubt that the target will be achieved. While close to finalizing, the TLS 1.3 specification is still a draft and the upstream crypto/tls library has no TLS 1.3 functionality in the current version.

[2017-11-29 15:31] sethwklein commented on #1265
Unfortunately, the company that was going to provide engineering resources for this pivoted right after I posted and that doesn't look to be changing :( I can't justify putting my own time into it, so I no longer have plans to work on this.

[2017-11-29 15:51] aek commented on #1380
I have started to work on a solution to add a custom redirect feature per frontend, to be able to specify a virtual frontend and backend just for the matter of redirection from one domain to another one being able to specify the domain name as a regexp to match the domain name.
Using this kind of construction:

[code]
Also this allow to specify:
- http to https
- non-www to www
- www to non-www
-

[2017-11-29 17:15] nemosupremo commented on #2260
I'm thinking about writing a solution that adds another whitelist parameter under `entryPoints.http.auth`. This won't be quite as powerful as `Satisfy Any`, but would support this use case.

[2017-11-29 20:46] beenanner commented on #2364
I just tested this with Google's LB and it appears that the X-Forwarded-For  header isn't pulling the first IP off the list for my use-case as the first IP is my pubic address and the last 2 are Google LBs

[code]

[2017-11-29 20:51] captn3m0 opened #2493 "Security Headers with dashes in value don't work (docker)"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

Container has the following labels:
[code]

### What did you expect to see?

Traefik serving traffic and registering the docker backend.

### What did you see instead?

docker backend doesn't get registered. I get the following in my log:

[code]

### Output of `traefik version`: (_What version of Traefik are you

[2017-11-29 20:56] beenanner commented on #2364
This doesn't appear to be specific to k8 either as the above was setup on Docker Swarm Mode.

[2017-11-29 21:19] emilevauge commented on #2139
Maybe @juliens can help on this?

[2017-11-29 22:21] mvasin opened #2494 "A non-existent entry point makes an existing entry point inaccessible"
### Do you want to request a *feature* or report a *bug*?

A bug.

### What did you do?

I tried to serve NGINX container's default html file through Traefik.

I created this `toml` file:
[code]

then started Traefik: `docker run --network traefik -p 8080:8080 -p 80:80 -v $PWD/traefik.toml:/etc/traefik/traefik.toml -v /var/run/docker.sock:/var/run/docker.sock traefik`

then started NGINX: `docker

[2017-11-29 22:52] c0fe commented on #2481
@ldez The issue template is written for bugs, I fail to see how any of those except for the first section as to how it has to relate to a feature request. Why does a feature request require TOML configuration files, debug logs, what I was trying to achieve?

[2017-11-29 22:57] dtomcej commented on #2493
Will run some tests on this, I have a suspicion as to why this is.

Will post more when I have more info!

[2017-11-30 07:19] tlwt commented on #2171
@ldaume - put the label in single quotes and don't escape the password (unless there is a single quote in it).

Example below (I tested it):

user: myName
password: myPassword

you can generate your own passwords using

[2017-11-30 09:42] traefiker commented on #2493
Closed by #2496.

[2017-11-30 09:42] #2493 closed

[2017-11-30 09:44] like-inspur opened #2497 "Can traefik set different weight to pods in same service on kubernetes"
I want to achieve specific load balance on kubernetes by traefik ingress, so can traefik set different weight to pods in same service? Now pod weight is the same to 1 like this:
![y0 ncyf614 v l nd33y6](https://user-images.githubusercontent.com/18571465/33424228-1ef0e94c-d5f6-11e7-8095-f726f56517ad.png)

[2017-11-30 10:24] traefiker commented on #2497
Thanks for your interest in Traefik !

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-11-30 10:24] #2497 closed

[2017-11-30 10:43] gianarb commented on #1048
Hello! I would like to know if there is a guideline or something related "How to extend traefik". we are thinking about extending it but we are wondering about how to keep the eventual fork up to speed and so on.

There is something around about that?

[2017-11-30 10:48] gdarmont opened #2500 "Too (?) many logs with new Kubernetes security annotations"
### Do you want to request a *feature* or report a *bug*?

A possible logging bug

### What did you do?

Using the new security annotation "ingress.kubernetes.io/hsts-max-age" for Kubernetes in traefik1.5.0-rc1

### What did you expect to see?

Not so much logs, as it creates a lots of noise.
Again, this may be work as expected, that's why I said is it a _possible_ bug.

### What did you see inste

[2017-11-30 11:18] traefiker commented on #2489
Closed by #2492.

[2017-11-30 11:18] #2489 closed

[2017-11-30 11:45] captn3m0 commented on #2493
That was quick, thanks :+1:

[2017-11-30 13:50] jeroenvandergeer commented on #2171
The label does not seem to be set properly when configured in a compose file, and when there's a period or slash in the hash. Quotes, single quotes or no quotes seem to not make a difference.

I've got this (test/test):

[code]
Results in:

[code]

[2017-11-30 14:17] Juliens commented on #2368
Close by #2492

[2017-11-30 14:17] #2368 closed

[2017-11-30 15:10] #2494 closed

[2017-11-30 15:10] #680 closed

[2017-11-30 15:10] traefiker commented on #2494
Closed by #2501.

[2017-11-30 15:10] traefiker commented on #680
Closed by #2501.

[2017-11-30 15:20] soedar commented on #1323
For those affected by this bug, please try out traefik:v1.5.0-rc1 and see if that had fixed the issue for you.

[2017-11-30 15:40] hrach commented on #1323
Confirming it seems to be fixed! Thanks! 🎉

[2017-11-30 16:36] nmengin commented on #2158
Hello @cpuguy83 @zyzop.

I am currently analyzing deeply the problem and it seems to be a relied  to the data storage concurrent access during the certificate renewing.

Can you give me more information about your configuration :
- How many instances of Træfik are running?
- Do they all access to the data storage?
- @zyzop  Are you using a storage file or a KV store?

Thanks in advance.

[2017-11-30 16:54] ldez commented on #1323
Closed by  #2451

[2017-11-30 16:54] #1323 closed

[2017-11-30 17:43] kachkaev commented on #1957
Still observing this issue in `1.5.0-rc.1`.

[2017-11-30 21:30] jdoucerain opened #2503 "forward authentication using basic authentication"
### Do you want to request a *feature* or report a *bug*?

### What did you do?

### What did you expect to see?

### What did you see instead?

### Output of `traefik version`: (_What version of Traefik are you using?_)

[code]

### What is your environment & configuration (arguments, toml, provider, platform, ...)?

[code]

### If applicable, please paste the log output in debug mode (`--debug`

[2017-11-30 21:38] #2503 closed

[2017-11-30 21:57] jdoucerain opened #2504 "forward authentication using http basic authentication"
### If applicable, please paste the log output in debug mode (`--debug` switch)

[code]
#### here the patch I tried and which worked for me

diff forward.go-original forward.go
84a85,89

[2017-11-30 22:28] ldez commented on #2504
Thanks for your interest in Traefik 😃

Could you try with 1.5.0-rc1?

[2017-11-30 22:30] jdoucerain commented on #2504
Yes I will try that tomorrow
Thanks
Jerome

Sent from my Bell Samsung device over Canada's largest network.

-------- Original message --------
From: Ludovic Fernandez <notifications@github.com>
Date: 2017-11-30 5:28 PM (GMT-05:00)
To: containous/traefik <traefik@noreply.github.com>
Cc: "Doucerain, Jerome" <jerome.doucerain@bell.ca>, Author <author@noreply.github.com>
Subject: Re: [containous/trae

[2017-12-01 07:00] wu3rstle opened #2507 "Rancher: missing certificate"
### Do you want to request a *feature* or report a *bug*?

bug

### What did you do?

Initialize Traefik 1.4.4 from rancher catalog with rancher 1.6.10.

### What did you expect to see?

The certificate file should contain the main and the chain certificates.

### What did you see instead?
Only the main certificate is in certs/traefik.crt.
So the browser displays an untrusted certificate error.

#

[2017-12-01 10:26] ldez opened #2508 "Change custom header separator into Docker labels and k8s annotations"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

Would like to use header like that:
- `Access-Control-Allow-Methods:POST,GET,OPTIONS`
- `Content-type: application/json; charset=utf-8`

### What did you expect to see?

The headers must separate by a neutral separator.

### What did you see instead?

Headers are split on `,` this create a problem.

### Output of

[2017-12-01 11:54] cpuguy83 commented on #2158
1

Only 1 instance

[2017-12-01 13:00] #2500 closed

[2017-12-01 13:00] traefiker commented on #2500
Closed by #2506.

[2017-12-01 13:03] nmengin commented on #2158
OK @cpuguy83.

Many thanks for your feedback.

[2017-12-01 13:34] traefiker commented on #1494
Closed by #2490.

[2017-12-01 13:34] #1494 closed

[2017-12-01 14:22] MrOerni opened #2510 "Redirect 302 with respect to PathPrefixStrip"
### Do you want to request a *feature* or report a *bug*?
A bug

### What did you do?

When getting redirected on a route with a matched PathPrefix, the Prefix should be included in the redirect.
As you can see below this bothers me when using prometheus.

### What did you expect to see?
Visiting Path `/prometheus/` [with PathPrefixStrip `/prometheus`].
Which is a redirect to `/graph`
Traefik shou

[2017-12-01 14:32] Riduidel commented on #1933
I also have this issue when accessing services are registered in a consul service registry cluster hosted on a separated rancher environment.

[2017-12-01 14:41] tlwt commented on #2171
I did not try it via docker compose, but rather via docker service create. That worked for me there ...

[2017-12-01 15:41] dtomcej commented on #2510
Is traefik generating the 302 or is your application generating the redirect?

[2017-12-01 15:59] MrOerni commented on #2510
.. Both?
I would assume prometheus is generating the 302.

BUT. The same happens with the traefik WebUI.
Resulting in https://github.com/containous/traefik/issues/1081

[2017-12-01 17:31] ldez commented on #2171
@jeroenvandergeer replace all `$` by `$$` 😉

[2017-12-02 16:07] cocorossello commented on #2299
I would like this as well. Having the internal URI in a cookie sent to a client does not look good.  Setting a cookie value per server like haproxy is the best and simplest option IMHO

[2017-12-02 20:33] centerorbit commented on #2402
Could be related to this?: https://github.com/containous/traefik/issues/979

[2017-12-02 20:34] centerorbit commented on #2348
Related: https://github.com/containous/traefik/issues/979

[2017-12-02 22:06] c0fe opened #2511 "Traefik keeps showing 404 Error for Docker Containers"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

I have a number of docker containers that are running a number of applications including:
Nextcloud
Wordpress
OSTicket

Which I want to be accessible from a browser for each specific URL.

I used Portainer to set everything up

I used Traefik's docs to set this up.

### What did you expect to see?

I expected to

[2017-12-02 22:41] traefiker commented on #2511
Thanks for your interest in Traefik !

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-12-02 22:41] #2511 closed

[2017-12-03 01:07] c0fe commented on #2511
@traefiker why close the issue? I followed the documentation exactly and error persists. Either there is a bug or the documentation is lacking or incorrect.

I also already asked on there several weeks ago and days ago and no answer.

[2017-12-03 01:53] ldez commented on #2511
@c0fe try to add `defaultEntryPoints = ["http"]` in your configuration.

duplicate of #2494 #680 #427
See also #2501

[2017-12-03 08:26] zyzop commented on #2158
@nmengin Hello, it was a Consul with two instances in my case.

[2017-12-03 17:52] c0fe commented on #2511
@ldez added:

https://hastebin.com/ovagenekaz.cfg

but same result

I also just ran this on a new installation (virtualbox) and same result, 404.

[2017-12-04 05:13] yue9944882 opened #2515 "Feature Request: Allow request header modifying / appending via configuration"
### Do you want to request a *feature* or report a *bug*?
feature request

### What did you do?
I want add/set HTTP Headers for all in coming HTTP request to explicitly force them using HTTP keep-alived connection. But I actually didn't find any documentation about it or traefik doesn't support it currently.

### What did you expect to see?
Simply add some configuration entries to make it happen.

[2017-12-04 05:28] yue9944882 commented on #2515
Or rather, I'm expecting implementations of [this annotation](https://github.com/containous/traefik/blob/e042ef3f27d61c142e55a9c69993e3395e0fa1a1/provider/kubernetes/kubernetes.go#L45)

[2017-12-04 07:19] captn3m0 opened #2517 "Docker backend doesn't support customresponseheaders with ":" or ",""
### Do you want to request a *feature* or report a *bug*?

BUG

### What did you do?

As a workaround to https://github.com/containous/traefik/issues/2493, I attempted to use customresponseheaders to set the XFO header:

`"traefik.frontend.headers.customresponseheaders" = "X-Frame-Options:ALLOW-FROM https://domain.tld"`

### What did you expect to see?

The XFO header being set on all responses.

[2017-12-04 07:51] ldez commented on #2515
This come in 1.5, see #2460.

You can try the 15.0-rc1.

[2017-12-04 07:51] #2515 closed

[2017-12-04 07:54] nmengin commented on #2158
OK @zyzop, thank you.

Are you using the [deprecated](https://github.com/containous/traefik/issues/2212) option `onDemand` too?

[2017-12-04 13:18] allamand commented on #2174
If we could traefik to wait some sort of timeout at startup to let networks be available before making any ACME challenge would be very helpful.

[2017-12-04 14:01] ldez commented on #2517
Closed by #2509

[2017-12-04 14:01] #2517 closed

[2017-12-04 15:51] c0fe commented on #2511
It seems that the automated portion of Traefik Docker configuration isn't working. It appears to be a bug.

[2017-12-04 16:10] jdoucerain commented on #2504
Hi Ludovic,

I checked in v1.5 (I clone the v1.5 branch) and the behaviour is the exact same.

Without the patch the WWW-Authenticate is not passed back to the browser and with the patch the forwarded http basic authentication works ok.

Thanks

Jerome

Jerome Doucerain
Sr Consultant - System Architecture
Bell Business Markets
671, LaGauchetière Ouest, 5e
Montréal (Québec) H3B 2M8
Office : 514 870

[2017-12-04 16:31] mmatur commented on #2511
@c0fe Do you have some backends registered in your Træfik ?

[2017-12-04 16:45] Thermi opened #2521 "kubernetes + acme open traefik/acme/account: not a directory"
### Do you want to request a *feature* or report a *bug*?

bug

### What did you do?

The following `traefik.toml` file is supposed to use the KV store (etcd here) to store the acme related stuff. But it doesn't do that. It instead tries to open this path in the file system, which obviously doesn't work.

[code]

### What did you expect to see?

That traefik uses the KV store.

### What did you se

[2017-12-04 20:15] ewah commented on #1719
is this feature on the roadmap?

[2017-12-04 20:54] c0fe commented on #2511
@mmatur you mean in the container labels?

[2017-12-04 21:13] ldez commented on #2511
[code]

[2017-12-04 22:05] c0fe commented on #2511
@ldez Tried it:

https://hastebin.com/omuyihorom.coffeescript

I also tried this tutorial with the same results (error 404):

https://www.digitalocean.com/community/tutorials/how-to-use-traefik-as-a-reverse-proxy-for-docker-containers-on-ubuntu-16-04

@mmatur

Labels set for a nextcloud container:

traefik.backend	cloud
traefik.docker.network	proxy
traefik.enable	true
traefik.frontend.entryPoints

[2017-12-04 23:51] wenzowski opened #2524 "healthcheck should not require deprecated web provider"
Now that the `web` provider has been deprecated, the healthcheck command should probably get its config from `api` instead of depending on web [as documented](https://docs.traefik.io/basics/#command-healthcheck).

It's currently calling [`globalConfiguration.Web.Path`](https://github.com/containous/traefik/blob/master/cmd/traefik/healthcheck.go#L68).

### What did you do?
[code]

### What did you

[2017-12-05 00:32] chrisegner commented on #1262
It would be nice if traefik could also do what apache and nginx do here and allow piping of the password from another utility.

https://httpd.apache.org/docs/2.4/mod/mod_ssl.html#sslpassphrasedialog
also:
https://serverfault.com/questions/161768/restart-webserver-without-entering-a-password
https://serverfault.com/questions/71043/ssl-password-on-apache2-restart
(Forgive me for linking to serverfau

[2017-12-05 00:45] ldez commented on #2511
@c0fe Could you go to Slack?

[2017-12-05 00:49] ldez commented on #2524
@wenzowski If you use 1.5 please refer to this documentation: http://v1-5.archive.docs.traefik.io/

[2017-12-05 02:06] c0fe commented on #2511
@ldez i can tomorrow morning, already heading into bed. but was there few weeks ago, it was dead and never got a response, waited days.

[2017-12-05 02:22] traefiker commented on #2371
I'll close the issue due to inactivity but feel free to re-open if needed.

[2017-12-05 02:23] traefiker commented on #2371
I'll close the issue due to inactivity but feel free to re-open if needed.

[2017-12-05 02:23] #2371 closed

[2017-12-05 08:20] JesusIslam commented on #2194
I am using v1.4.4, it doesn't work too.

[2017-12-05 11:38] greenmaid commented on #1286
+1

[2017-12-05 12:30] oivindoh commented on #2173
Nginx simply sets the external IP for the load balanced service fronting nginx in my case, which is a fantastic solution that plays well with e.g. external-dns.

[2017-12-05 13:26] errm commented on #2173
* I think we should implement something similar to the `--publish-service` flag on the nginix controller.
* It might also be useful to provide a static configuration also, e.g. I have worked with a cluster where traefik was fronted with a nodeport service, and an external load balancer went in front of this.... unless you are on a cloud provider, having the service populated correctly is unlikely.

[2017-12-05 13:30] Overbryd commented on #736
I am also still puzzled by this cluster mode.

So what I want is simple: Multiple traefik instances running in my Kubernetes cluster. They should all share one configuration and one acme file.

Is this what cluster mode is for?
Is it covered by running traefik in Kubernetes mode?
Or do I need to deploy a separate KV-store next to traefik?

[2017-12-05 13:39] ajardan commented on #736
@Overbryd you need the key-value store to use ACME on multiple traefik instances.

[2017-12-05 14:32] mcorbin commented on #2392
We also encounter this bug. we tried `traefik.backend.loadbalancer.stickiness` and `traefik.backend.loadbalancer.sticky` but no cokkie are set in the response.

[2017-12-05 14:43] nmengin commented on #2521
Hello @Thermi . Many thanks for you interest in the project.

How I understand your Træfik configuration, the ETCD configuration is missing into you `traefik.toml` file.
That's why Træfik generates this error message.

You can add this kind of configuration :
[code]
*Note :* if you migrate to the new release-candidate version (1.5-rc2), you will be able to use the ETCD V3 API by adding `useAPIV3 =

[2017-12-05 15:55] ntwrkguru commented on #1771
It's unfortunate that this is closed as it's a pretty basic ask for a reverse proxy. Often, one has no control over the application or the underlying system.

[2017-12-05 16:52] Thermi commented on #2521
That's sad. Accessing etcd is not supposed to be possible by pods, so if we were to use it, we would need to enable traefik to use authentication for connecting to etcd and also somehow configure etcd, which is not always possible (quite probably not with GKE). So we're stuck. Is there any other way to use the let's encrypt support with  Kubernetes? etcd is the only way for traefik to share the in

[2017-12-05 17:38] nmengin commented on #2521
@Thermi WDYT about creating a pod which contains you ETCD (or other KV store) and allows Træfik to access to it?

[2017-12-05 17:39] c0fe opened #2526 "Traefik Documentation Needs an Update"
**Page in Question:**

https://docs.traefik.io/

**Comment in Question:**

**Command in Question:**

`docker run -d -p 8080:8080 -p 80:80 -v $PWD/traefik.toml:/etc/traefik/traefik.toml traefik`

I kept missing the part that it needs the bind mount to the volume socket.

**Command Should Be:**

`docker run --mount type=bind,source=/var/run/docker.sock,target=/var/run/docker.sock -d -p 8080:8080 -p

[2017-12-05 17:46] Thermi commented on #2521
@nmengin The etcd server of Kubernetes runs on the (or all) the master nodes. It is not a pod. The list of pods and the complete configuration of the cluster is stored in the etcd server. So one can't do what you propose. AFAIK by Kubernetes design, only the kubelet processes that each node runs are supposed to ever connect to the etcd server.

[2017-12-05 18:03] timoreimann commented on #2521
@Thermi how about rolling your own etcd cluster, possibly inside Kubernetes? AFAIK there's a Helm chart and the etcd operator available to ease the management.

[2017-12-05 18:44] zyzop commented on #2158
@nmengin well yeah, it's set to true. Done months ago, actually, didn't touch configs since then.

[2017-12-05 19:35] Thermi commented on #2521
@timoreimann I'd consider that the last resort. traefik already has the ability to do Kubernetes API calls, so why not use a configmap or secret for storing the secrets, too?

[2017-12-05 19:53] wenzowski commented on #2524
Thanks for the link correction @ldez
Web is still required in docs there too http://v1-5.archive.docs.traefik.io/basics/#command-healthcheck

The point of this issue is that if `--web` or `[web]` in toml is not provided, then the healthcheck fails due to a null reference of `globalConfiguration.Web.Path`. But `[web]` is deprecated.

[2017-12-05 19:57] wenzowski commented on #1286
When this is implemented, [will this be the correct usage](https://github.com/wenzowski-docker/traefik/blob/master/docker-compose.yml#L52) for docker?

[2017-12-05 21:37] bitsofinfo commented on #766
would be great to be able to do this (traefik on any node (worker | mgr))  withou out having to run such a proxy that exposes the docker cluster events in a TCP service

[2017-12-05 21:55] rsoika commented on #2526
I also want to point out a documentation issue concerning docker swarm mode.
https://docs.traefik.io/configuration/backends/docker/

I did not understand what is meant in the example with the option:

` endpoint = "tcp://127.0.0.1:2375"`

And I believe this is wrong or maybe deprecated. With this option I can't start traefik - so I leave it to the default value "unix:///var/run/docker.sock"

In ge

[2017-12-05 21:57] bitsofinfo commented on #2136
experiencing this as well, after `docker service [servicename] scale=N` swarm is spinning up new containers, traefik appears to start sending traffic to those new containers in the service, despite them not being fully up an able to actually respond.

[2017-12-05 22:07] timoreimann commented on #2521
@Thermi I'm not too familiar with ACME. Is there a need to mutate any data that come with it? If no, then ConfigMaps or Secrets might be a viable option. Otherwise, we're probably better off with a real data storage solution.

Either way, Traefik currently does not support ACME from anything but a K/V store (like etcd) on Kubernetes. (@dtomcej, correct me if I I'm wrong here please.) This issue wa

[2017-12-05 22:17] Thermi commented on #2521
[The page about Let's Encrypt configuration states this](https://docs.traefik.io/configuration/acme/)
[code]

The "storage" implies that it is actively written to, which kind of makes sense. In a clustered environment, the issued certificates need to be stored permanently and distributed somehow.

AFAIK kubernetes allows notifications to processes when a CM is changed. A secret likely, too. I gues

[2017-12-05 22:48] timoreimann commented on #2521
@Thermi a ConfigMap/Secret is an object living on the Kubernetes API server, the file system is not involved. The notification mechanism is an event sent through to Traefik's Kubernetes client. The Kubernetes client library already comes with a leadership implementation which could serve as a way to do atomic writes.

There are likely a few other challenges to it, but it seems doable. Feel free to

[2017-12-05 23:00] timoreimann commented on #2392
The label must be set on the Service, not the Ingress object. I just verified that it works for me.

Closing for now. Please reopen if you think this is still relevant.

[2017-12-05 23:00] #2392 closed

[2017-12-05 23:02] Thermi commented on #2521
@timoreimann [That is wrong.](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#mounted-configmaps-are-updated-automatically)

[2017-12-05 23:08] timoreimann commented on #2521
@Thermi nice, I didn't know that. (Is that a newer feature by any chance?)

I wonder if we'd be able to benefit from this for free, or whether we need to make sure our version of client-go is up-to-date.

[2017-12-05 23:09] Thermi commented on #2521
@timoreimann No, it's not new. It was like that since at least 1.4.

You can't write to configmaps, because they're read only, so at least some code for the writing is needed.
I suppose just updating the lib before the next build will be enough?

[2017-12-05 23:16] timoreimann commented on #2521
@Thermi yeah we can probably do that. Let's continue discussing in that to-be-created issue and make sure we keep track of the known/presumed requirements.

[2017-12-06 00:00] traefiker commented on #1936
I'll close the issue due to inactivity but feel free to re-open if needed.

[2017-12-06 00:00] #1936 closed

[2017-12-06 00:00] traefiker commented on #1835
I'll close the issue due to inactivity but feel free to re-open if needed.

[2017-12-06 00:00] #1835 closed

[2017-12-06 00:10] Thermi opened #2527 "feature: native Let's Encrypt support on Kubernetes"
### Do you want to request a *feature* or report a *bug*?

*feature*

### Current state

Currently, traefik only supports Let's Encrypt using a file as storage or a KV store like etcd.
However, on Kubernetes neither is easily possible. The first is completely impossible if several traefik instances need to coordinate and the latter requires an additional etcd instance.

### Proposal

A much better

[2017-12-06 08:07] nmengin commented on #2136
Hello @0xbaadf00d, your problem seems to be related to #2459.

Apparently there were problems when Træfik had to detect containers states.

This problem was fixed by #2478 and will be available in Træfik v1.5.0-rc2.

Can you test with this new version when it will be available and give us a feedback?

[2017-12-06 09:44] timoreimann commented on #2527
/cc @dtomcej

[2017-12-06 10:20] traefiker commented on #2524
Closed by #2529.

[2017-12-06 10:20] #2524 closed

[2017-12-06 12:55] peterdeme opened #2531 "Kubernetes Docs: extremely poor naming convention"
Hi Guys,

So I'm setting up my playground cluster with Traefik and reading this article: https://docs.traefik.io/user-guide/kubernetes/

I noticed that literally **everything** is called traefik-ingress-controller. Why? Why is an RBAC role is called traefik-ingress-controller instead of traefik-discovery-role or something like that? Service, ingress, deployment, role, role-binding, service account

[2017-12-06 13:30] traefiker commented on #2531
Every time someone does not respect the issue's template, a little bunny dies.

<details>

![southpark - estrella kill rabbit](https://user-images.githubusercontent.com/5674651/27143914-3cea7896-5130-11e7-81f8-02d8ac2da7a7.gif)
![southpark - estrella kill rabbit2](https://user-images.githubusercontent.com/5674651/27143924-49104c72-5130-11e7-82ae-ccedbd5dfa1c.gif)

</details>
<br>

Please edit your

[2017-12-06 13:42] peterdeme commented on #2531
Right, sorry, I updated my comment.

[2017-12-06 14:47] bitsofinfo commented on #2136
Will do, for anyone else experiencing this, enabling `--retry` on traefik seems to mitigate this issue

[2017-12-06 14:59] timoreimann commented on #2531
Every object in Kubernetes consists of a type (or kind) and a name. It is not too uncommon to name all objects related to a particular application equally if there's no need to have more than one object per type. I actually believe this can simplify working with all objects related to Traefik dramatically because your `kubectl` invocations will always follow the same pattern: `kubectl <verb> <type

[2017-12-06 15:05] peterdeme commented on #2531
I see. Looks like Prometheus does the same thing [here](https://github.com/prometheus/prometheus/blob/master/documentation/examples/rbac-setup.yml). Wasn't aware of this weird convention. Then I think it can be closed.

[2017-12-06 15:11] #2531 closed

[2017-12-06 16:07] nmengin commented on #2158
@cpuguy83 @zyzop

This problem is very hard to debug! I launched an environment which runs for 3 days and renews its certificates once per hour. So far, so good...

As you can read into the PR #2520, I changed the `logLevel` of ACME renewing messages. This modification will be available in Træfik 1.5.0-rc2. Don't hesitate to migrate to this version.

Moreover, I can see you use the `onDemand` opti

[2017-12-06 17:15] josecastillolema commented on #362
@emilevauge, always get a 404 page not found when trying the PUT :/ any idea why?

[2017-12-06 17:23] bitsofinfo opened #2535 "Dynamic health check path/interval labels for Docker backend"
### Do you want to request a *feature* or report a *bug*?

feature

For Docker swarm services it would be great to be able to use labels to define the health check endpoints for a give service i.e. `traefik.backend.healthcheck.interval` and `traefik.backend.healthcheck.path`

### Output of `traefik version`: (_What version of Traefik are you using?_)

1.4.4

### What is your environment & configur

[2017-12-06 19:56] dtomcej commented on #2527
I will come up with a proposal for this.

[2017-12-06 20:08] ajdexter commented on #489
@deterralba Immense gratitude. This solved my problem.

[2017-12-06 21:20] pascalandy commented on #2402
In my case, I use only one network, not two.

[2017-12-06 21:26] BastienM commented on #489
Just dont use that in a production environment. There may be troubles ahead if you do so.

[2017-12-06 21:32] ldez commented on #2341
@pdf could try with 1.5.0-rc1 ?

[2017-12-06 23:14] ajdexter commented on #489
Understood. Thanks for the heads up @BastienM

[2017-12-07 00:00] #2082 closed

[2017-12-07 00:00] traefiker commented on #2082
I'll close the issue due to inactivity but feel free to re-open if needed.

[2017-12-07 00:00] traefiker commented on #1951
I'll close the issue due to inactivity but feel free to re-open if needed.

[2017-12-07 00:00] #1951 closed

[2017-12-07 00:54] halfer commented on #2082
Well, it was just a suggestion - it's up to you.

[2017-12-07 06:23] colinlabs opened #2537 "how to use X-Forwarded-Prefix in kubernetes"
### Do you want to request a *feature* or report a *bug*?
feature

### What did you do?
docs show:

The `X-Forwarded-Prefix` header (available since Traefik 1.3) can be queried to build such URLs dynamically.

### What did you expect to see?
i want to access traefik dashboard with url `my.cluster.local/traefik` , but traefik return 302 to `/dashboard/`, may be return `my.cluster.local/traefik/dash

[2017-12-07 06:39] igoratencompass commented on #378
For me one thing that is missing for High Availability/Redundancy is ability to store the LE certs into K8S secrets that can be used as shared storage between multiple Traefik instances OR when the node Traefik was running on dies and the pod(s) get(s) created on different node (in even different AZ in AWS for example). For now this is only possible if shared storage is available in the cluster.

[2017-12-07 06:40] colinlabs commented on #2510
same issuer #2537

[2017-12-07 07:09] colinlabs commented on #2537
solved, `ingress` yaml like this:

[code]

access url must be: http://infra.cluster.local/traefik/dashboard, use http://infra.cluster.local/traefik will be ruturn 302 by dashboard.

close!!

[2017-12-07 07:10] #2537 closed

[2017-12-07 08:58] AlmogBaku commented on #378
@igoratencompass take a look here https://blog.osones.com/en/kubernetes-traefik-and-lets-encrypt-at-scale.html

your comment isn't related to the issue

[2017-12-07 13:49] traffsh0w opened #2539 "Traefik doesn’t configure backend settings"
### Do you want to request a *feature* or report a *bug*?

bug

### What did you do?

Checking new traefik version: 1.4.5

### What did you expect to see?

Backends configured for appropriate frontends

### What did you see instead?

I see backends without any settings.

### Output of `traefik version`: (_What version of Traefik are you using?_)

[code]

### Operating system

[code]

### Kernel an

[2017-12-07 14:21] ldez commented on #2539
@traffsh0w could you provide any logs ?

And could try with 1.5.0-rc2 ?

[2017-12-07 14:54] traffsh0w commented on #2539
Versions 1.4.4 and 1.5.0-rc2 are also affected.

traefik logs

`time="2017-12-07T14:50:37Z" level=info msg="Using TOML configuration file /etc/traefik/traefik.toml"
time="2017-12-07T14:50:37Z" level=info msg="Traefik version v1.4.5 built on 2017-12-06_10:16:48AM"
time="2017-12-07T14:50:37Z" level=debug msg="Global configuration loaded {"GraceTimeOut":10000000000,"Debug":false,"CheckNewVersion":fal

[2017-12-07 15:23] mmatur commented on #2539
Could you give us labels used on containers or services please ?

[2017-12-07 15:50] traffsh0w commented on #2539
`docker inspect ent1.ent1_nginx | grep Labels -A 13
            "Labels": {
                "maintainer": "NGINX Docker Maintainers <docker-maint@nginx.com>",
                "traefik.backend": "ent1.ent1_nginx",
                "traefik.backend.loadbalancer.method": "wrr",
                "traefik.enable": "true",
                "traefik.frontend.entryPoints": "http,https",
                "trae

[2017-12-07 15:57] ldez commented on #2539
@traffsh0w Could you try without the dot in the backend name?

[code]

[2017-12-07 16:20] traffsh0w commented on #2539
Nothing changed with version 1.4.5
Should I test this with 1.5.0-rc2?

[2017-12-07 16:26] nmengin commented on #2539
@traffsh0w

Yes, doo ti if it's possible : I just tested your configuration with the master branch and it seems to work.

[2017-12-07 16:28] traffsh0w commented on #2539
It doesn't helped, unfortunately.

https://pastebin.com/xAhndTCX

https://pastebin.com/n1Ky72kP

[2017-12-07 16:46] traffsh0w commented on #2539
Traefik version 1.4.5

@ldez why traefik telling that backend is undefined for created frontend and then skips it?

https://pastebin.com/CKV83Jdk

[2017-12-07 16:57] gavinbunney opened #2540 "Individual frontend redirect throwing nil pointer"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

I'm testing out v1.5-rc2 with the changes from #2133 (great btw!), but traefik is throwing a go nil pointer during start up.

My setup is using a docker backend for user-facing web content (which needs to be on HTTPS) and another consul backend for HTTP or HTTPS traffic. The support from #2133 means I can now run

[2017-12-07 17:32] PaulGallon opened #2541 "Rancher backend behaviour is inconsistent with Docker backend"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

Added a Rancher environment to a fresh Traefik container.

### What did you expect to see?

I expected the same behaviour as the Docker backend where it will automatically expose containers based on their exposed port if there is only one.

### What did you see instead?

Log messages telling me that traefik.port

[2017-12-07 19:51] dtomcej opened #2542 "Proposal: Native Kubernetes LetsEncrypt Implementation"
# Proposal

This proposal is to discuss the possibility of implementing native Kubernetes LetsEncrypt/ACME support into Traefik.

## Background

At its simplest, Traefik stores LetsEncrypt (LE) data in a json file. Currenly, to provide High Availablity (HA) support for LE, Traefik requires a Key-Value Store (KV) to store the challenge certificates, private keys, and completed certificates. When ru

[2017-12-07 19:52] dtomcej commented on #2542
Ping @containous/traefik

[2017-12-07 20:31] dirkschneemann opened #2543 "PathPrefixStrip frontend rule in `docker` mode strips part of the path when accessing without trailing slash"
### Do you want to request a *feature* or report a *bug*?
Report a bug, if it is one and not expected behaviour. I know that a similar issue was discussed in [issue 563](https://github.com/containous/traefik/issues/563). However, it got closed without a general solution except for "should be fixed since v1.3" but I can still reproduce the issue explained below in v1.5.

### What did you do?

Given

[2017-12-07 21:37] emilevauge commented on #2543
This is how it is supposed to work. Traefik does not modify your request body. I suggest to use relative paths in your HTML files instead. I will close this one then 😉

[2017-12-07 21:43] dirkschneemann commented on #2543
How would a relative path in the HTML file look like?
`<script src=myscript.js>` was an unfortunate copy/paste error but the result is the same for `<script src=./myscript.js>`.

[2017-12-07 21:59] jdahlin commented on #692
The documentation is not particularly clear here, is it:

traefik.frontend.rule1=Host:example.com,Host:example2.com

OR

traefik.frontend.rule1=Host:example.com,example2.com

Examples would be helpful.

Just my two cents.

[2017-12-07 22:02] igoratencompass commented on #378
It is related to a broader issue when using LE. I want to be able to share the backend certs between Traefik instances in k8s native way without using consul or shared storage. Which also relates to comments regarding nginx+kube-lego made in previous comments but maybe I missed something. It might be a crucial point when deciding between traefik and nginx.

[2017-12-08 00:53] ldez commented on #2539
I tried this:

[code]

- `traefik.toml` with exactly you configuration (copy/paste from the issue)

- `docker-compose.yml`
[code]

[code]

This works, I cannot reproduce your problem.

Could you do the same test?

[2017-12-08 02:14] nemosupremo opened #2545 "Mesos Backend Incorrectly Configures Hostname for Host IPSource"
### Do you want to request a *feature* or report a *bug*?

Bug.

When you setup the mesos backend, the generated config files results in
the `backend.url` field being set to something like `"http://:47675"` when you
set `IPSource` to host.

Traefik uses mesosphere/mesos-dns@b47dc4c19f215e98da687b15b4c64e70f629bea5 to
easily communicate with mesos, however it doesn't fully bootstrap the
configurati

[2017-12-08 02:16] nemosupremo commented on #2545
I see this issue was reported 7 months ago in #1618, but it was closed. I'm guessing the mesos backend is deprecated or not well supported?

[2017-12-08 02:22] AlmogBaku commented on #378
@igoratencompass its not related the this issue (and impossible)

[2017-12-08 02:49] dtomcej commented on #378
@igoratencompass  Please see proposal #2542. Give your feedback on the proposal if you think it is an important feature to be implemented.

[2017-12-08 03:37] ronaldscott commented on #1466
Another reason this would be valuable is that password hashes frequently contain dollar signs `$`, which docker-compose interprets as a string interpolation character. Embedding hashes in docker-compose labels for proper dynamic operation of Traefik therefore becomes an exercise in doubling the dollar signs in one's password hash, which isn't really a maintainable solution.

[2017-12-08 03:44] bitsofinfo opened #2546 "1.4.5: Consul KV store w/ acme: "Datastore sync error: Object lock value...""
### Do you want to request a *feature* or report a *bug*?

bug

### What did you do?

1. **Initialize the `acme.json` using the following TOML file `traefik-acme-init.toml` then copy the initialized `acme.json` to local disk**

[code]

*contents of traefik-acme-init.toml*
[code]

*log output from above command*
[code]

2. **Store the configuration TOML (`traefik-acme-upload.json.toml`) and `acme.j

[2017-12-08 04:51] #2546 closed

[2017-12-08 05:24] bitsofinfo opened #2547 ""storeconfig" creates unecessary "acme/storageFile" entry when not needed"
### Do you want to request a *feature* or report a *bug*?

bug

### What did you do?

1. **Ran `storeconfig` for the following TOML against consul**

This works fine, however a non-necessary `traefik/stage/acme/storageFile` entry is created with no value.

[code]

*traefik-ssl-acme-seed.toml*
[code]

2. **Launched traefik service pointing to this config**

[code]

Traefik comes up, but fails to se

[2017-12-08 07:02] mmatur commented on #2136
@bitsofinfo new Træfik v1.4.5 is available. Could you please test with this version?

[2017-12-08 07:04] mmatur commented on #1759
@marco-jantke any news on this issue ?

[2017-12-08 08:38] mmatur commented on #1502
@raarts

First of all thanks for your interest in Træfik.
Træfik v1.2.3 is no more maintained.

To disable acme it is not possible to use `--acme=false`, you need to remove all things relative to acme in your Træfik configuration.

I will close this issue

[2017-12-08 09:38] mmatur commented on #1502
My bad, I reopen this issue because it is probably a bug inside [staert](https://github.com/containous/staert) or [flaeg](https://github.com/containous/flaeg)

[2017-12-08 10:08] mmatur commented on #2203
I close this issue because it is fixed by #2213

[2017-12-08 10:08] #2203 closed

[2017-12-08 10:47] mmatur commented on #2412
@ezkrg  Could you please test with Træfik [v1.5.0-rc2](https://github.com/containous/traefik/releases/tag/v1.5.0-rc2) ?

[2017-12-08 11:11] ezkrg commented on #2412
@mmatur Of course, but result is same:
```"backend-traefik-test-whoami":{"servers":{"server-traefik-test_whoami-1":{"url":"http://:80","weight":0},"server-traefik-test_whoami-2":{"url":"http://:80","weight":0},"server-traefik-test_whoami-3":{"url":"http://:80","weight":0},"server-traefik-test_whoami-4":{"url":"http://:80","weight":0}},"loadBalancer":{"method":"wrr"}}}```

[2017-12-08 11:18] mmatur commented on #2219
@jonaslewin This error is not due to a bug in Træfik but to a missing feature in [xenolf/lego](https://github.com/xenolf/lego) dependency.

Currently xenolf/lego support only `X-Auth-Email` and `X-Auth-Key` https://github.com/xenolf/lego/blob/master/providers/dns/cloudflare/cloudflare.go#L180

Regarding Cloudflare [documentation](https://api.cloudflare.com/#getting-started-endpoints), your API key

[2017-12-08 11:28] jonaslewin commented on #2219
I can't verify if this is the User Service Key or not, as the only 2 options that I have in CloudFlare in my profile are the following:
`Global API Key`
`Origin CA Key`

![apikey](https://user-images.githubusercontent.com/3225633/33763967-c4fc0f34-dc12-11e7-816a-308e4505d791.PNG)

None of those match the name `User Service Key`

The one I used was `Origin CA Key`

[2017-12-08 11:48] kachkaev commented on #2543
Hey @dirkschneemann! I think I know your pain, but at the same time I can't disagree with @emilevauge's position. Resolving `./myscript.js` into either `/files/myscript.js` or `/myscript.js` is what the browser decides, not traefik.

Adding trailing slash to a URL in order to make relative links resolvable to `/files/*` is the developer's responsibility no matter if the microservice architecture i

[2017-12-08 12:01] bclermont opened #2548 "whitelistSourceRange directive ignored on Docker backend and multiple frontends"
Using the following labels:

[code]

### What did you expect to see?

I should get a `403 Forbidden`, if I use a non whitelisted IP

### What did you see instead?

I can reach my backend

### Output of `traefik version`: (_What version of Traefik are you using?_)

[code]

### What is your environment & configuration (arguments, toml, provider, platform, ...)?

[code]

I don't pass any other argume

[2017-12-08 12:55] w3blogfr opened #2549 "CORS Error 404-502 : No 'Access-Control-Allow-Origin' header is present"
### What did you do?

When I stop some backend application API (spring boot in my case)
Traefik has some delay to detect the service shutdown, and I have some 502 bad gateway.

For page 404 and 502, we cannot customize security headers. In last traefik version, we can only override headers when the backend service is ok.

So I have this issue in my browser. No 'Access-Control-Allow-Origin' header

[2017-12-08 13:01] pascalandy commented on #2402
Well, it looks someone had the issue as well - https://github.com/containous/traefik/issues/2459

It's part of v1.4.5. I will test and report back!

[2017-12-08 13:32] errm commented on #2542
Sounds good to me 👍

[2017-12-08 14:31] Overbryd opened #2550 "Zookeeper KV backend – Error running traefik: zk: unknown error"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

Run traefik with zookeeper backend on Kubernetes.

### What did you expect to see?

Traefik configured and running against Zookeeper.

### What did you see instead?

[code]

### Output of `traefik version`: (_What version of Traefik are you using?_)

#### traefik version

[code]

#### zookeeper version

[code]

#

[2017-12-08 14:31] pedrodevoto commented on #1451
Is there any way to implement this? Are there any plans to include it?

[2017-12-08 14:42] frenchviking commented on #2219
Hello,

I'm currently in the same situation, with little differencies
OS : Linux (container)
Version:      v1.4.5

[2017-12-08 14:53] mmatur commented on #2219
@jonaslewin @frenchviking Could you tell me if your API keys start with `v1-` please

[2017-12-08 15:22] timoreimann commented on #2542
SGTM too.

One detail: we may want to implement the linkage between ConfigMaps and Secrets through an annotation rather than some extra field embedded in the ConfigMap. Apart from being simpler, it'd also allow users to update relationships more easily.

[2017-12-08 15:25] wenerme commented on #364
If this is supported, please also support config SNI for backend

[2017-12-08 15:39] errm commented on #2542
+1 for the link being in an annotation

We should also think about the namspace secrets etc are created in...

If traefik has its own isolated namespace then its fine just use the current one... but if people are deploying a traefik per namespace for team use or somesuch, it might be good to be able to override and save into another namespace... If my impression is correct it is a relatively commo

[2017-12-08 15:43] frenchviking commented on #2219
@mmatur it doesn't.

[2017-12-08 16:05] mmatur commented on #2219
@frenchviking Could you provide us more informations like logs, traefik configuration and how  your run your traefik container please

[2017-12-08 16:16] frenchviking commented on #2219
Here is the docker-compose.yml.
[code]

logs :
[code]

[2017-12-08 16:34] mmatur commented on #2219
@frenchviking Could you please verify if email used in env variable `CLOUDFLARE_EMAIL` is the same as the email of your Cloudflare account

[2017-12-08 16:35] mmatur commented on #2219
@jonaslewin if you are using `Origin CA Key`, this key start with `v1..` and lego dependency does not manage this type of API key

[2017-12-08 16:41] errm commented on #2373
At this point the work around I would suggest is to terminate ssl on traefik and use the ELB in TCP mode...

[2017-12-08 17:08] jonaslewin commented on #2219
@mmatur The `Origin CA Key` starts with `v1...`
Does this mean that I sould use the `Global CA Key` instead?

[2017-12-08 21:47] dtomcej commented on #2542
Not sure if the link should be an annotation for the following reasons:

1. Are we wanting to have multiple links for annotations? Having multiple links within a configmap are easily updated and managed etc, but we may run into issues with multiple links if we are using a single annotation
2. We could use metadata on the configmap instead of configmap contents to link, but I'm unsure as to which o

[2017-12-08 21:58] mmatur commented on #2219
Currently you can only use `Global CA Key`

[2017-12-08 22:15] mmatur commented on #2219
After some investigations on Cloudflare API and lego dependency, we will not be able to use only the `Origin CA Key` to execute all actions required by the DNS configuration.

**So please use the `Global CA Key`.**

I will close this issue

[2017-12-08 22:15] #2219 closed

[2017-12-08 22:40] timoreimann commented on #2542
@dtomcej just to be clear: I was talking about annotations on the ConfigMap, not the Ingress object. I'm trying hard to think about how that could conflict with any of the points you mentioned, but I don't see how it could.

Please let me know if you had ConfigMap annotations in mind in the first place and still see issues.

[2017-12-08 22:55] murbanowicz opened #2551 "404 for any path on service other than '/'"
### Do you want to request a *feature* or report a *bug*?
BUG

### What did you do?
I did bind Auth service to mydomain.com/auth.

from docker-compose.yml

[code]

### What did you expect to see?

Any requests under mydomain.com/auth being forwarded to the service

### What did you see instead?

404 returned by Traefik for any path under `/auth` other that pure `mydomain.com/auth`
Only path '/auth

[2017-12-08 22:58] trondhindenes opened #2552 "Traefik doesnt auto-update based on Consul Catalog changes - verified on v1.5.0-rc2"
*bug*

### What did you do?
I've posted about this before, but due to time limitations were unable to provide enough feedback so the bug got closed. Just for fun I wanted to verify that the issue was gone in the latest traefik release (v1.5.0-rc2) and was surprised to see that it wasn't.
Simply put, traefik doesn't update when the underlying Consul Catalog changes.

I tested this by adding two ser

[2017-12-08 23:01] ldez commented on #2551
Thanks for your interest in Traefik !

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-12-08 23:01] #2551 closed

[2017-12-08 23:05] trondhindenes commented on #2552
Happy to show the log (tho it only shows Traefik loading/filtering services on startup and a bunch of traffic coming in), or record a video or whatever it takes.

[2017-12-08 23:06] trondhindenes commented on #2552
Also worth noting: The same behavior seems to occur if I simply stop the consul service on the backend webserver - that change is also not picked up.

[2017-12-09 00:18] igoratencompass commented on #378
@AlmogBaku everything is possible
@dtomcej thanks i'll have a look

[2017-12-09 00:22] igoratencompass commented on #2542
+1 for this, it is important to link traefik with the native k8s elements like ConfigMap and Secrets, especially when having in mind that etcdv2 backend is/was (can see 1.5.0-rc2 solves this issue) broken for long time.

[2017-12-09 00:34] igoratencompass commented on #2542
@dtomcej I would also like to mention the benefit of this in case of federation. Replicating the k8s resources across federated clusters solves the LE problem for which I can't see an easy solution for atm, i.e. having the same app running in multiple clusters and still be able to use LE for managing its certs. Of course you can cluster on etcd level lets say instead and have the certs stored ther

[2017-12-09 07:03] murbanowicz commented on #2551
Sorry but in my opinion it is bug or bad docs.

On 8 Dec 2017 23:01, "Ludovic Fernandez" <notifications@github.com> wrote:

Thanks for your interest in Traefik !

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

   - Stack Overflow <https://stackoverflow.

[2017-12-09 10:35] timoreimann commented on #1451
An alternative might be to use something like logstash or fluentd and filter by frontends (or any other key) in a post-processing step.

[2017-12-09 17:41] mikeburgh commented on #2395
If it helps anyone else who finds this, I got it working by mapping the acme.json to a /var/tmp mount when running in a swarm..

[code]

Then run

[code]

I realize this is not ideal if we end up with multiple replicas of traefik as they will recreate the SSL files, rather than share them. But for my use case that's okay.

[2017-12-09 17:53] redge76 commented on #1465
Yes please add this to the documentation ....
It took wayyyyyy too long to find this :-)

[2017-12-09 18:51] dtomcej commented on #2542
@timoreimann Ah. Configmap annos/meta would be fine :) Sorry, I thought you meant ingress annotations.

[2017-12-10 15:53] zyzop commented on #2547
It's a well-known behavior. A lot of traefik guides mention this.

[2017-12-10 16:07] bitsofinfo commented on #2547
Doesn't mean it makes sense, which is what I am pointing out. If I want to start a new traefik instance pointing to KV and have it init its ACME there, there is zero need for this `storageFile` attribute when `storage` was already specified w/ a legit path, and causing it not to work....

[2017-12-10 16:27] ldez commented on #2547
FYI `StorageFile` is deprecated:
https://github.com/containous/traefik/blob/328be161d6e8cd04c1066d5884e4bf35f396b40f/acme/acme.go#L39

And it will be removed the future.

However, could you provide some logs (debug): when you restart traefik **without** delete the empty `storageFile` key.

[2017-12-10 18:17] miadabrin opened #2554 "Host Rules bundling of kubernetes backend"
### Do you want to request a *feature* or report a *bug*?

bug

### What did you do?

I Created host rules using kubernetes
### What did you expect to see?

I expected to see subdomain bundlings on front end rules. for example I expect www.somedomain.com to be bundled with somedomain.com

### What did you see instead?

They are considered seperately which causes a lot of issues like acme certifica

[2017-12-10 22:26] errm commented on #2542
There is some prior art on this: e.g. https://github.com/jetstack/cert-manager where they are using  CustomResourceDefinition to store the acme config stuff...

Also, there is a standard format for the secret with the keypair itself to be stored in that kubernetes provides:
https://github.com/kubernetes/kubernetes/blob/6caf34389b865be8b41811dc7c130c1006995d8a/pkg/apis/core/types.go#L4319-L4332

[2017-12-11 07:00] wchao1241 opened #2555 "Access /api/providers/{provider}/backends/{backend}，404 page not found"
Access url “/api/providers/kubernetes/backends”
The return result is：
{
    "traefik-ui.local/": {
        "servers": {
            "traefik-ingress-lb-flv0v": {
                "url": "http://192.168.0.5:8580",
                "weight": 1
            },
        "loadBalancer": {
            "method": "wrr"
        }
    }
}
Are "traefik-ui.local/" and "traefik.nginx.io/" the values of backend?
I

[2017-12-11 07:33] marco-jantke commented on #1759
Hi @mmatur, unfortunately not. I still plan to come up with a PR that improves Prometheus metrics and fixes this bug alongside. It was delayed so long because we kept finding issues with the implementation at my work. We are soon switching switching routing for our production services at and I would like to wait until I see that our current implementation of the Prometheus metrics works in product

[2017-12-11 09:04] ldez commented on #2555
Thanks for your interest in Traefik !

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-12-11 09:04] #2555 closed

[2017-12-11 09:36] dirkschneemann commented on #2543
Thank you your your compassion, @kachkaev ;-)

This is how I solved it in the end. While there might be different possibilities, I make use of the [<base> tag in HTML](https://www.w3schools.com/tags/tag_base.asp) which globally sets the base folder for all following relative `src` or `href` paths. This way they are independent of whatever gets forwarded by `traefik`.

If all necessary information

[2017-12-11 09:36] #2543 closed

[2017-12-11 09:38] Horgix opened #2556 "Segfault when getting certificate - Traefik on Swarm with Consul"
Hello,

I would like to report a segmentation fault on latest versions of Traefik when trying to get an ACME certificate with Traefik running in Docker, on a swarm mode cluster with configuration stored in Consul.

### What did you do?

Tried to access some endpoint through Traefik, with  HTTPS and certificate generation via Let's Encrypt.

### What did you expect to see?

Expected to get a certif

[2017-12-11 10:21] dbsanfte opened #2557 "Add support of custom headers and Security-headers for Rancher backend"
### Do you want to request a *feature* or report a *bug*?

Request a feature

### What is your environment & configuration (arguments, toml, provider, platform, ...)?

Rancher v1.6.12

### Details

The Docker backend has been updated to support many labels that allow setting Security and Custom Headers options (#1236, #2028). This support needs to be extended to the Rancher backend, along with doc

[2017-12-11 10:39] ldez commented on #2547
Related to #927

[2017-12-11 12:08] errm commented on #2219
Should we add a note to the traefik documentation?

[2017-12-11 12:53] miadabrin commented on #997
it doesn't seem to work for zookeeper
[code]

[2017-12-11 12:58] miadabrin commented on #2550
Getting the same error
[code]

[2017-12-11 13:02] emilevauge commented on #2542
@dtomcej First of all, I love the idea :)
My two cents:

- Traefik can persist ACME certs using 2 implementations; `acme/localStore` and `cluster/datastore`. Both implement `cluster/Store` and `cluster/Transaction`. We could definitely add a new Kubernetes specific implementation.

- Traefik persists the whole struct `acme/Account` which contains the ACME registration info, the email, the private

[2017-12-11 13:09] mmatur commented on #2219
@errm yes, I have just create a PR to improve documentation

[2017-12-11 13:20] ldez commented on #997
@miadabrin you can follow this issue https://github.com/containous/traefik/issues/2550
@alex-dixon Look at https://github.com/containous/traefik/issues/927#issuecomment-285945397

[2017-12-11 14:36] dbsanfte commented on #2284
This is a pretty big pain, Traefik ought to keep going with the last known config if the Rancher server goes down. As it stands it's not very resilient.

[2017-12-11 14:45] ldez commented on #1400
Closed by #2421

[2017-12-11 14:45] #1400 closed

[2017-12-11 14:47] ldez commented on #1286
Fixed by #1982

[2017-12-11 15:05] Baklap4 commented on #2284
As a matter of fact, if rancher is down it shouldn't even effect all the running containers.. especially since other providers don't have this behavior.

[2017-12-11 15:27] emilevauge commented on #2556
Thanks @Horgix for reporting. For the record, does this segfault make traefik crash or does Traefik recover from it ?

[2017-12-11 15:37] bitsofinfo commented on #927
I see the same results as @pickfire and have experienced the same as @borsboom (frustration)

[2017-12-11 15:42] bitsofinfo commented on #2547
@ldez, my output is same as https://github.com/containous/traefik/issues/927#issuecomment-285945397

[2017-12-11 17:52] Horgix commented on #2556
@emilevauge :

It plainly crashes from what I remember, and a new Traefik instance was launched right away by Docker to replace it since it runs as a swarm service

[2017-12-11 18:59] JesusIslam commented on #1880
@schoren you can try setting the container publish mode to host `--publish mode=host,target=80,published=80`, and set the service mode `--mode global` to global. I've tried it and succeed using those at a Digital Ocean box using Docker Swarm.

[2017-12-11 19:04] wenzowski commented on #1286
@timoreimann do you agree with @ldez this is closed by #1982? You noted in #1232 that docker label support was tracked here. If you agree this is closed, does that mean docker labels will not be supported, only dockerfile healthcheck?

[2017-12-11 19:30] JesusIslam commented on #2504
Same here, using Traefik 1.5.0-rc2

[2017-12-11 22:00] ldez commented on #1286
Sorry I did not see the note in #1232

[2017-12-12 02:43] pdf commented on #2341
Looks good, thanks for the fix @mmatur and for the follow-up @ldez :heart:

[2017-12-12 02:43] #2341 closed

[2017-12-12 07:44] Overbryd opened #2561 "Storeconfig breaks when executed according to documentation/guides"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

I ran storeconfig as documented.

### What did you expect to see?

Traefik configured against etcd.

### What did you see instead?

Errors.

### Output of `traefik version`: (_What version of Traefik are you using?_)

[code]

### What is your environment & configuration (arguments, toml, provider, platform, ...)?

[2017-12-12 08:53] ldez commented on #2561
@Overbryd which version of Etcd api are you using?

[2017-12-12 12:18] Overbryd commented on #2561
I am running etcd version `3.2.11` in a 3 node cluster.

[2017-12-12 12:29] ldez commented on #2561
1.4 support only etcd v2 api.
1.5 support v2 and v3

[2017-12-12 12:46] Overbryd commented on #2561
Ok, sorry. I probably have not read this requirement correctly.
Is there something special I need to configure, because now running on `1.5.0-rc2` the command `traefik storeconfig --configfile=/config-map/traefik.toml` yields the following output:

[code]

Output of `traefik version`:

[code]

[2017-12-12 12:55] ldez commented on #2561
could you add `useAPIV3 = true`?
http://v1-5.archive.docs.traefik.io/configuration/backends/etcd/

[2017-12-12 13:29] Overbryd commented on #2561
Allright, we can close this one.
`useAPIV3` makes `traefik storeconfig --configfile=...` work as it is supposed to work.

Unfortunately, `traefik` itself is not yet working correctly. Most probably another issue with ACME and K/V backends, or another misconfiguration on my side.
I even followed the exact advise on https://github.com/containous/traefik/issues/927#issuecomment-350760419

It is compl

[2017-12-12 13:29] #2561 closed

[2017-12-12 14:24] Overbryd commented on #927
I cannot get traefik with etcd backend running here.

traefik version `1.5.0-rc2` against etcd `v3` with `useAPIV3 = true`.

I followed the process @bitsofinfo described above, but still get the following error when starting traefik:

`traefik --web --kubernetes --etcd=true --etcd.endpoint=etcd-cluster-client:2379 --etcd.useAPIV3=true`

[code]

I have deleted the `traefik/acme/storagefile` prio to

[2017-12-12 14:28] Berndinox commented on #927
Some time ago, but i can remember a bug where you have to remove a space in the ETCD Database of ACME... may you can find something with that peace of information. BR

[2017-12-12 21:51] djeeg commented on #2174
Same situation on docker-for-azure when provisioning by stacks

With a config like this:

[code]

Its takes 10-30s for the exposed ports to be regsitered with the azure load balancer.

Sometimes the ACME challenge works
Sometimes I get 400 errors
Similar to these
- https://github.com/containous/traefik/issues/1334
- https://github.com/containous/traefik/issues/1833  (yamalight gave me a clue)

My

[2017-12-13 03:08] ZQiannnn opened #2563 "Expose Https Service Error"
Kubernetes Version:v1.8.4
Kubernetes Dashboard Version: v1.8.0
traefik Version: v1.4.5

### What did you do?

When I Use traefik ingress to expose a https service (like dashboard),recevied a ssl error:
2017/12/13 02:21:24 http: TLS handshake error from 10.233.102.165:43074: remote error: tls: bad certificate

When I Expose Dashboard With NodePort.SSL is fine.

My Step:
[code]
traefik.toml:
[code]

[2017-12-13 04:24] c4m4 commented on #1880
--publish mode=host,target=80,published=80 solved without using global mode

[2017-12-13 04:59] ZQiannnn commented on #2563
[code]
fix this problem, but the kube dashboard is using traefik's cert, not itself，look like my ingress tls not work:
[code]

[2017-12-13 05:25] jmaitrehenry commented on #766
My 2cts on this, if you want to know the user IP, you need to expose traefik port in host mode.
By doing this, only the node with traefik could respond to traffic and not all swarm node.

In my case, I use my cloud provider load balancer (ELB for AWS, Azure Load Balancer for Azure, etc.), and I need to know on which node the load balancer should send traffic to. I see 2 solutions:

- Add all worke

[2017-12-13 08:00] ldez commented on #2563
Thanks for your interest in Traefik !

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-12-13 08:00] #2563 closed

[2017-12-13 10:04] jgwmaxwell commented on #1325
Is there any interest in accepting a patch for this? I'm happy to write one, but only if there's a chance of getting it merged - I'm not sure how easy it would be to do this in a transparent way, so it'd probably have to be a major version release. Thoughts?

[2017-12-13 10:56] traefiker commented on #2219
Closed by #2558.

[2017-12-13 13:12] jmaitrehenry commented on #1832
I have another use case, I would like to migrate some domain from HAproxy to Traefik, but without using the same certificate.

I would like to try the migration by issuing new LE certificate. With an HTTP challenge, I could easily proxify the http request from haproxy to traefik for validating the challenge. And by modifying my host file, I could test the new confguration.

[2017-12-13 15:57] chr4 commented on #2416
I ran into this issue as well, but I could fix it by using the correct order of ciphers.
Below is a working configuration for TLSv1.1 which prefers ChaCha/ Poly and removes the insecure 3DES ciphers.

[code]

[2017-12-13 16:02] #2540 closed

[2017-12-13 16:02] traefiker commented on #2540
Closed by #2544.

[2017-12-13 16:16] gavinbunney commented on #2540
Excellent thanks!

[2017-12-13 16:17] JesusIslam commented on #1880
@c4m4 you don't have to set it to `--mode global`, but you couldn't scale it anyway since port 443 and 80 on a host are already bound to the first container.

[2017-12-13 20:05] jdel opened #2565 "Redirect generate wrong access logs"
### Do you want to request a *feature* or report a *bug*?

Reporting a bug

### What did you do?

Run traefik with http redirected to https and examine access logs.

### What did you expect to see?

A single curl on nginx1 generates 1 line in the access log:

[code]

A single curl on nginx2 generates 1 line in the access log:

[code]

### What did you see instead?

A single curl on nginx1 generate

[2017-12-13 20:05] jdel commented on #2565
I haven't looked at the code yet. I'll see if I can pin down the issue.

[2017-12-14 07:08] sanderPostma opened #2566 "Documentation / examples yaml update externalTrafficPolicy"
Please add this to the user guide + sample yaml for the Kubernetes service descriptor:

[code]

Annotation `service.beta.kubernetes.io/external-traffic` no longer works on Kubernetes 1.8.x+ and `externalTrafficPolicy` will be set to "Cluster" by default.

[2017-12-14 08:24] kelunik commented on #503
I have a similar issue, but with a generic content-type, not `text/event-stream`. An option or header that disables buffering would be really helpful.

[2017-12-14 08:42] Juliens commented on #503
@kelunik Can you try with 1.5.0-rc2 ?

[2017-12-14 08:48] kelunik commented on #503
@Juliens Sure. Seems all fine there. :+1:

[2017-12-14 10:56] marco-jantke commented on #2200
Is there some interest in this feature? I can implement it in case it is.

[2017-12-14 11:30] marco-jantke commented on #1759
@mmatur I finally did it! https://github.com/containous/traefik/pull/2567

[2017-12-14 11:46] Overbryd commented on #927
**I mean, jokes aside, _how do I get traefik_ in a h/a configuration running?**

I cannot be that this project is solely used by small heroku like projects that run behind a single reverse proxy? What is happening?
My user journey with this project so far is a very frustrating one.
Something is definitely wrong, either the project should not promote to support any number of backends or it should f

[2017-12-14 12:02] zouhuigang opened #2568 "request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)"
in kubernetes1.8.x:
traefik log:

[2017-12-14 12:49] marco-jantke commented on #2349
HI @geekgonecrazy, which metrics provider do you use? I just opened https://github.com/containous/traefik/pull/2567 which provides open connections on a backend or entrypoint level split up by protocol (http, SSE, websocket).

[2017-12-14 12:54] timoreimann commented on #2566
I have only learned about _externalTrafficPolicy_ through this issue; reading [the documentation](https://kubernetes.io/docs/api-reference/v1.8/#servicespec-v1-core), however, it does not seem to relate to functionality directly affecting Traefik. To me it should be a decision made by the user to decide for either _Local_ or _Cluster_ on a per-service basis.

Thoughts?

[2017-12-14 13:10] sanderPostma commented on #2566
When I used the service yaml exactly as documented on [this page](https://docs.traefik.io/user-guide/kubernetes/), I ran into the problem where my white listed IP's were  rejected anyway. It took my a while to figure this out, so at least mentioning this setting might be helpful.

[2017-12-14 13:17] timoreimann commented on #2566
@sanderPostma ah, this is about _white-listing_. You should have mentioned that. :)

[2017-12-14 13:20] timoreimann commented on #2566
I think we should leave a note with [the documentation of the corresponding Kubernetes annotation](http://docs.traefik.io/configuration/backends/kubernetes/#annotations).

[2017-12-14 13:25] sanderPostma commented on #2566
Details are documented [here](https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/) under "Preserving the client source IP"

[2017-12-14 13:31] emilevauge commented on #1325
@jgwmaxwell We are open to a contribution on this. But beware, this will be a bit tricky. Long story short, there is an issue if don't marshall to json before storing the struct into the kv store. We need to first marshall to json, then we could use https://github.com/mitchellh/mapstructure to then store the json to the kv store. If you need some help, join us on the Slack channel :)

[2017-12-14 14:09] jgwmaxwell commented on #1325
Hi @emilevauge thanks for that. I've been auditing the code a little more, and I've got a couple of concerns about how possible this is without a significant rewrite of the ACME backend, unless I've misunderstood - it seems to want to load all the details about an "account", rather that just retrieving the specific cert being interacted with. What are your thoughts on revisiting this? I'm aware th

[2017-12-14 14:35] ldez commented on #2568
Thanks for your interest in Traefik !

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-12-14 14:35] #2568 closed

[2017-12-14 15:37] hpello opened #2569 "Wrong routing for two frontends with same backend"
### Do you want to request a *feature* or report a *bug*?

bug

### What did you do?

I declared two frontends linked to the same backend.
Each frontend has a rule for a specific host.
Each frontend is supposed to add a specific response header.

### What did you expect to see?

I expected the header for frontend 2 to be added to a request made with the host for frontend 2.
[code]

### What did yo

[2017-12-14 15:40] hpello commented on #2307
Great! That would be neat.

Today I have several servers who share a lot of configuration, which ends up duplicated in the toml file.

[2017-12-14 16:46] jgwmaxwell commented on #1325
I'll hit you up on slack to discuss this a bit further - I'm not sure our use-case is going to match well with the majority of users' here. Will copy discussion here for discoverability later.

[2017-12-14 18:09] timoreimann commented on #2545
@nemosupremo my personal impression is that we happen to have a fairly low number of Mesos users, which may an impact on the quality of the provider. In contrary, quite a number of users run Mesos on top of Marathon which has fairly solid support.

Would you have a chance to run on Marathon, or is Mesos a must-have for you?

[2017-12-14 18:22] nemosupremo commented on #2545
We would prefer to use Mesos as we'd like to use Traefik to route to Spark drivers we run on Mesos. I ended up fixing this specific issue [in my own fork](https://github.com/nemosupremo/traefik/commit/fc1b5ef50f7a2c1d85cd1c3b8adb55f4e5a69d11), as well as adding other functionality to make Mesos template generation a bit easier.

Next, I'm a bit less confident in the Marathon API as I feel Mesosphe

[2017-12-14 19:10] mister2d commented on #2526
@rsoika
`endpoint = "tcp://127.0.0.1:2375"`

Appears to be an artifact of someone **_wrongly_** assuming that you've set up the docker daemon socket to be accessible via TCP. The Docker TCP socket is not enabled by default, so this tcp statement shouldn't be there in the first place.

`endpoint = "unix:///var/run/docker.sock"`
Remains valid, especially when one simply bind maps in the docker socke

[2017-12-14 20:49] bitsofinfo commented on #927
@Overbryd the above works for me: https://github.com/containous/traefik/issues/927#issuecomment-350760419

[2017-12-14 21:43] rsoika commented on #2526
yes, this is what I mean. The docker-swarm example at  https://docs.traefik.io/configuration/backends/docker/ should be changed in this way

replace
`endpoint = "tcp://127.0.0.1:2375"`
with
`endpoint = "unix:///var/run/docker.sock"`

[2017-12-15 00:00] #1190 closed

[2017-12-15 00:00] traefiker commented on #1190
I'll close the issue due to inactivity but feel free to re-open if needed.

[2017-12-15 03:23] igoratencompass opened #2571 "Option to tell Let's Encrypt which port to use to send the challange on"
### Do you want to request a *feature* or report a *bug*?

This is a **feature** request.

#### Description

Let's Encrypt provides the client with an option to specify the port on which it is listening for the challenge which is useful in case of multiple LE clients behind a proxy or a router. In this case we might have several Traefik instances with `443` port as `https` entry point which:

- in

[2017-12-15 04:47] zouhuigang commented on #2568
thank you ! It has been solved。

[2017-12-15 08:13] dacameron opened #2572 "Consul Catalog service not reloaded on port change"
### Do you want to request a *feature* or report a *bug*?

bug

### What did you do?

On updating a service in consul to use a different port, traefik does not reload the service so I get a bad gateway.

### What did you expect to see?
Traefik reloading the service with a new port
### What did you see instead?
A bad gateway error due to traefik using the old port

### Output of `traefik version`:

[2017-12-15 08:28] mmatur commented on #2572
Every time someone does not respect the issue's template, a little bunny dies.

<details>

![southpark - estrella kill rabbit](https://user-images.githubusercontent.com/5674651/27143914-3cea7896-5130-11e7-81f8-02d8ac2da7a7.gif)
![southpark - estrella kill rabbit2](https://user-images.githubusercontent.com/5674651/27143924-49104c72-5130-11e7-82ae-ccedbd5dfa1c.gif)

</details>
<br>

Please edit your

[2017-12-15 08:51] dacameron commented on #2572
Lol, done.

[2017-12-15 09:18] timoreimann commented on #2115
Quick update: A [PR for go-marathon](https://github.com/gambol99/go-marathon/pull/327) (the Go library powering access to Marathon) bringing support for 1.5 is in progress. It didn't make it into Traefik 1.5 anymore, but I'm confident we can integrate it into the subsequent release.

[2017-12-15 10:43] jgwmaxwell commented on #1325
I'm not going ahead with this now, as our use case isn't really in the majority of users best interests (managing 10k+ domains).

[2017-12-15 10:48] #1380 closed

[2017-12-15 10:48] traefiker commented on #1380
Closed by #2570.

[2017-12-15 11:15] Nossnevs commented on #1325
We like to see this change and we have only 100 domains when traefik ACME stop working.  We uses Traefik to load balance websites that are deployed with Jenkins from GIT and we want all sites to have https.

[2017-12-15 17:26] nmengin commented on #2571
Hello @igoratencompass,

Many thanks for your interest in the project.

The option you talked about, allow exposing the client on a different port but you have to add a redirection between the port 443 and the customized port (than to a RP for example).

Unfortunately, the limitation is not on the Træfik side but on the Let's Encrypt side.
Indeed, as you can read [here](https://community.letsencry

[2017-12-15 17:26] #2571 closed

[2017-12-15 19:52] traefiker commented on #2572
Closed by #2574.

[2017-12-15 19:52] #2572 closed

[2017-12-15 19:59] dacameron commented on #2572
Thanks for the quick fix!

[2017-12-15 20:27] mikesir87 commented on #670
I'm running into this with 1.4 (using Docker Swarm).  Like @mcoms mentioned above, I have an app that is looking for the presence of the `X-Forwarded-Proto` header and redirecting the user if that is not set. It is added for all non-WebSocket requests but all `X-Forwarded-*` headers are missing on the WebSocket connection. I have `passHostHeader` set, but no change there. I can't quite figure out

[2017-12-15 21:07] Juliens commented on #670
@mikesir87 could you try with 1.5.0-rc2 ?

[2017-12-15 22:08] mikesir87 commented on #670
@Juliens - thanks for the quick response. Just updated to 1.5.0-rc2 and can confirm that the `X-Forwarded-*` headers ARE indeed added to the websocket requests. So... all good to go.  Thanks!

[2017-12-15 22:16] opavlov24 opened #2576 "Problem with text/event-stream when compress=true"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

We use [concourse](https://concourse.ci/) (it's a CI/CD tool) under traefik. Concourse UI uses `text/stream` to get information about builds from its backend. In traefik 1.3.8 everything works fine, but after updating to traefik 1.4.0 - 1.4.5 concourse can't get any event from its backend (infinite waiting...).

[2017-12-15 22:25] ldez commented on #2576
Could try with 1.5.0-rc2 ?

[2017-12-15 22:33] opavlov24 commented on #2576
I tried. The same thing.

[2017-12-16 04:42] geekgonecrazy commented on #2349
@marco-jantke prometheus.  Your PR looks very interesting!  I'll take a look

[2017-12-16 08:07] djtm opened #2578 "Allow to route to invididual containers (e.g. variable substitution in frontend.rule)"
### Summary
Traefik changed the default frontend rule from `Host:{containerName}.{domain}` to `Host:{service}.{project_name}.{domain}` (see https://github.com/containous/traefik/issues/1235). This breaks setups and makes some setups very difficult or impossible (e.g. see https://github.com/containous/traefik/issues/1787): You can't easily attach to individual container. You'd need a manual fronten

[2017-12-16 09:06] eubnara commented on #2550
I fix the problem similar to this by applying https://github.com/containous/traefik/pull/948

[code]

If you do not set "prefix", the default value("/traefik") will be set.

[2017-12-16 10:29] djtm commented on #2578
Actually personally I'd want this in rancher. But docker would be nice, too, of course.

[2017-12-16 10:59] miadabrin commented on #2376
@timoreimann Unfortunately I was not able to test it with the 1.4.3 version. But seems it has aggrevated with the recent 1.4.5 version. is there still a way to profile it? It currently takes over 40 GB on each of our servers

[2017-12-16 13:17] timoreimann commented on #2376
@miadabrin I need to backport the pprof patch for the latest 1.4.5, but that shouldn't be difficult. Will try to push an updated image tonight.

It might also be interesting to know that I have done virtually nothing over the past two weeks except for profiling and benchmarking our configuration of Traefik. We found a few things affecting performance (some of which I'll push fixes for) but nothing

[2017-12-16 13:49] miadabrin commented on #2376
@timoreimann I am using a kubernetes cluster with lots of ingress rules (above 7000 currently). it might be a caching issue or something. The thing is it gradually increases overtime which indicates that it is either a memory leak(not my best guess) or it can be an aggressive caching mechanism with no invalidation which occurs over user usage

[2017-12-16 13:54] timoreimann commented on #2376
The Kubernetes object caching part is mostly done by client-go, the official Kubernetes API library for Go. We still run a fairly old version, so I could imagine that we're hitting some bug or lacking some optimizations either of which a newer client version might be able to help with.

The heap analysis should bring clarity as to where the memory is spent.

[2017-12-16 14:09] igoratencompass commented on #927
@Overbryd exactly the same issue here with `1.5.0-rc2` but `etcd v2` backend:
[code]
@bitsofinfo I followed the same steps and it is not working as you can see. Shame, I have it all working with nginx-ingress-controller and kube-lego, really trying here to give Traefik a chance but ... I think I wasted enough time with something that should be working as advertised.

[2017-12-16 14:24] Overbryd commented on #2550
@eubnara thanks, this solved the issue.

Here is the output of `traefik storeconfig --configfile=...`

[code]

Then I went on and deleted `$ zkCli.sh rmr /traefik/acme/storagefile`

After that I started `traefik` against zookeeper:

[code]

[2017-12-16 14:48] Overbryd opened #2581 "Zookeeper backend "Datastore sync error", https fails to fetch certificates"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

1. Configure traefik with http/https (acme) against an empty zookeeper cluster within Kubernetes
2. Remove `/traefik/acme/storagefile` key from zookeeper
3. Start traefik with zookeeper backend

### What did you expect to see?

A reverse proxy fetching certificates from LetsEncrypt and serving https traffic.

###

[2017-12-16 22:59] timoreimann commented on #2376
@miadabrin I just pushed `timoreimann/traefik:v1.4.5-pprof` into Docker Hub.

[2017-12-17 05:31] miadabrin commented on #2376
@timoreimann I deployed it on our servers with these options
`
        - --kubernetes
        - --consul
        - --consul.endpoint=172.16.0.1:8500
        - --debug
        - --web
`
butI cannot view anything on the 8080 port. Getting a 404

[2017-12-17 05:43] miadabrin commented on #2376
@timoreimann it seems to timeout for some reason. and sometimes just gives 404. I can give you the address so you can view it yourself. But I can't make it public. do you have a twitter handle?

[2017-12-17 05:44] miadabrin commented on #2376
@timoreimann here are the image options
[code]

[2017-12-17 18:55] lukasheinrich commented on #1898
what there a resolution to this? I also only see http being wired. even though I have

traefik.frontend.entryPoints: "https"

also tried

[code]

[code]

[2017-12-17 20:01] ldez commented on #1898
Could you try to set the annotation on the Service and not on the Ingress?

`traefik.frontend.entryPoints: "https, http"` or `traefik.frontend.entryPoints: "https"`

[2017-12-17 21:24] timoreimann commented on #2376
@miadabrin hmm, strange that it doesn't work for you. I did find one more bug in my image (I forgot to apply #2523) but it shouldn't have led to a 404. You'll need the fix anyway though, which is why I just pushed an update to `timoreimann/traefik:v1.4.5-pprof-patch1`. Please make sure you use that version.

For the sake of completion, here's how I verified that things work: I ran the image locall

[2017-12-18 01:03] barrachri opened #2582 "Traefik doesn't work when you create services using docker api"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?
I am running traefik on top of docker swarm, some services are created using compose and cli others using the docker api (dockerpy).

### What did you expect to see?

To see all the services inside the dashboard.

### What did you see instead?
Only the ones created using compose and the cli.

### Output of `traefi

[2017-12-18 07:46] jordijansen commented on #2510
I'm getting the same behavior. I have the redirect set-up as the orignal bug report.
I have a frontend with PathPrefixStrip /app

When I navigate to http://localhost/app/index.html
It will redirect to https://localhost/index.html

This is blocking me from moving forward with Traefik

[2017-12-18 08:22] #2550 closed

[2017-12-18 08:22] traefiker commented on #2550
Closed by #2580.

[2017-12-18 10:02] miadabrin commented on #2376
@timoreimann Still the same. Sent you the details via twitter

[2017-12-18 10:13] barrachri commented on #2582
The issue seems related to Traefik's version.
With `traefik:v1.4.5` it works properly (just removed traefik and created again with the old version):

<img width="582" alt="screen shot 2017-12-18 at 11 11 45" src="https://user-images.githubusercontent.com/4802083/34100929-5857e888-e3e4-11e7-8be0-a480220e9d7c.png">

[2017-12-18 10:51] nmengin commented on #927
@Overbryd @igoratencompass

I tried to reproduce your problem with a Docker thanks to the environment given in example [here](https://github.com/containous/traefik/tree/master/examples/cluster) but I cannot.

Can you turn your log level to Debug `logLevel = DEBUG` and send both the logs and your whole Træfik configuration?

**Note**: If you want to test the cluster example, you have to use the she

[2017-12-18 13:17] YP28 commented on #2115
I've been following the Traefik + Marathon 1.5 threads for a few weeks now. It seems that the virtual overlay network IP's that are assigned to tasks aren't exposed through the Marathon API. A solution would be to use the l4lb address to route to. However, that might be quite a change since you'd rely on something other than Marathon itself. On top of that, you wouldn't route to several ip address

[2017-12-18 15:50] timoreimann commented on #2376
Turned out that the debug switch had to be enabled on Consul. After that, we got the profile data.

The largest heap consumer with over 84% is Golang's regular expression library:

[code]

A detailed look reveals that we are spending the vast majority of memory in some `visited` variable:

[code]

The call graph shows that we end up at this part of the code through gorilla/mux when the routes are

[2017-12-18 16:02] timoreimann commented on #2376
@miadabrin do you know if your Ingress rules are mostly regex- or prefix-based? While gorilla/mux always uses regular expressions under the hood, I wonder if a possible focus on true prefixes could improve things.

[2017-12-18 16:16] timoreimann commented on #2115
@YP28 I am hoping that adding support for Marathon 1.5 can be as simple as extending the check for the Marathon-1.4-and-lower IP address field by the corresponding Marathon 1.5 field.

[2017-12-18 16:18] sfmarques opened #2586 "self sign certificates not working for me"
### Do you want to request a *feature* or report a *bug*?

Support question

### What did you do?

I want to use Traefik whith self sign certificates

### What did you expect to see?

I expect to see it running without errors, i want to route traffic to some docker containers web apps and force https and other http

### What did you see instead?

The traefik docker container stops

### Output of `

[2017-12-18 17:22] ldez commented on #2586
Thanks for your interest in Traefik !

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-12-18 17:22] #2586 closed

[2017-12-18 17:56] miadabrin commented on #2376
@timoreimann well there is both kinds. but mostly ithey are like {subdomain}.somemaindomain.com and www.{subdomain}.somemaindoman.com

[2017-12-18 18:08] emilevauge commented on #2376
@miadabrin so mainly `HostRegexp` right ?

[2017-12-18 18:36] miadabrin commented on #2376
Please not that they are fed from kubernetes. we don't specifically define frontend rules for them. I have to read the traefik code to answer for sure

[2017-12-18 18:39] miadabrin commented on #2376
like this one

[code]

[2017-12-18 18:44] timoreimann commented on #2376
The default rule type is path prefix then.

[2017-12-18 23:19] igoratencompass commented on #927
@nmengin I am running in debug mode. Unfortunately for the output to be helpful these:
[code]
should tell us exactly **which** key is it complaining about. Here is my log:
[code]
and here is my config:
[code]
The following job was used to populate the etcdv2 store:
[code]

[2017-12-19 09:49] Juliens commented on #2196
Can you try with 1.5.0-rc2 ?

[2017-12-19 09:53] emilevauge commented on #2260
Hi @iamslite , thanks a lot for you contribution. We want to keep the whitelisting section as simple as possible and we think that your use case could be addressed differently. We advise you to either use a vpn, either use the authentication forward mechanism we introduced recently.
Thanks @iamslite

[2017-12-19 09:53] #2260 closed

[2017-12-19 10:02] ldez commented on #2569
Duplicate of #2323

[2017-12-19 10:02] #2569 closed

[2017-12-19 10:03] nmengin commented on #2321
Hello @tiukhtinvladimir. Many thanks for your interest in the project.

I'm not sure to really understand your need.

Do you want to add an option in the frontends you defined in the way to disable ACME as demand(like `traefik.frontend.acme.disable=true`?

[2017-12-19 10:09] Juliens commented on #2332
@jippi Happy to see a PR if you can :wink:

[2017-12-19 10:12] YP28 commented on #2115
My bad, Marathon *does* expose the IP addresses through the API. So it shouldn't be hard to implement once `go-marathon` has support for 1.5.

[2017-12-19 10:22] iamslite commented on #2260
@emilevauge, the authentication forward mechanism is an inappropriate tool for this task. I agree it is a very fleximble tool, but I reviewed it before raising the issue. To use it you have to write a server process that will then look at the forwarded IPs, make a decision and then return a response, which will then be interpreted by traefik. Not only is this a waste of resources, the server proce

[2017-12-19 11:01] jippi commented on #2332
we are unfortunately not using traefik any more due to other issues :)

[2017-12-19 11:04] tiukhtinvladimir commented on #2321
Hi @nmengin. Thanks for your reply. No, I would like to get something different. I am talking about DNS challenge using RFC2136. So, in my current understanding of the problem, it works like this:
1. Let's encrypt asks traefik to put token into DNS
2. Traefik contacts DNS server defined in RFC2136_NAMESERVER variable
3. DNS server accept an update from traefik
4. Traefik tries to verify the record

[2017-12-19 11:13] ldez commented on #2332
@jippi could you give us more information about those other issues?

[2017-12-19 12:04] alenkacz commented on #2115
I'll try to help pushing the go-marathon 1.5 out so this will be unblocked...

[2017-12-19 16:00] traefiker commented on #2376
Closed by #2592.

[2017-12-19 16:05] timoreimann commented on #2376
I'll build a custom version of Traefik 1.4 so that we can check whether it truly solves the problem. Reopening until we have clarity.

[2017-12-19 16:39] timoreimann commented on #2376
@miadabrin do you have a chance to try out `timoreimann/traefik:v1.4.5-pprof-patch2`? This one brings a fix that's supposed to reduce memory usage. Note though that it only applies if you are not using a regular expression-based rule type, which none of your Ingresses in https://github.com/containous/traefik/issues/2376#issuecomment-352519344 do.

[2017-12-19 17:20] miadabrin commented on #2376
@timoreimann Sure will try it right away and will let you know the results

[2017-12-19 17:28] miadabrin commented on #2376
@timoreimann It has dropped significantly at the start ( to 1GB on each server) I will let it be running to check how it does in a longer interval. But seems to be an amazing job already. Thanks you!

[2017-12-19 17:36] sknigh opened #2593 "Traefik 500 errors and zero length http responses"
### Do you want to request a *feature* or report a *bug*?
Bug
### What did you do?

One of the backends in my traefik deployment is an Ubuntu package mirror. Traefik and the mirror are running in a docker swarm.

### What did you expect to see?

An ```apt-get update``` should  iterate through each provider and collect package information.

### What did you see instead?

apt-get sporadically prints

[2017-12-19 18:35] nmengin commented on #927
Hello @igoratencompass .

I reproduced your problem.

It's due to a problem when we migrate data from configuration file to KV store (thanks to the `storeconfig` command) : if the field `acme.storageFile` is missing, all the key needed by ACME are not created.

I will fix that as soon as possible but you can use a workaround :

* Create a file `acme.json` which just contains `{}`
* Add it to the c

[2017-12-19 19:51] miadabrin commented on #2376
Update: Still the same usage (about 1.2GB but seems to be stable over user usage) So I think it's a fix. will post another update in 12 hours.

[2017-12-19 21:57] timoreimann commented on #2376
@miadabrin that sounds very promising. Looking forward to your next update.

[2017-12-19 22:39] ldez commented on #2065
Could you try with the latest release 1.5.0-rc3 ?

[2017-12-19 23:20] ldez commented on #1898
I confirmed it's a bug.

[2017-12-19 23:26] ldez commented on #1279
Fixed by #2429

[2017-12-19 23:26] #1279 closed

[2017-12-20 02:34] igoratencompass commented on #927
@nmengin I tried as instructed, the key I'm seeing though in the acme dir:

[code]
as you can see the key is not `traefik/acme/storageFile` but `/traefik/acme/storagefile`, maybe this is the reason I'm still seeing the same error? By the way this key was being created anyway even when I didn't have the `storageFile = "/acme/acme.json"` setting in teh `ConfigMap` and that's the key I was deleting.

[2017-12-20 06:56] miadabrin commented on #2376
Update: Still the same usage . I think it's a fix. Although the traffic was higher than usual (it was a special day in the country our project is running) the usage has not changed too much. it has stayed at the range of 1GB to 1.2GB.

Good job traefik team and special thanks to @timoreimann for following it up

[2017-12-20 08:07] nmengin commented on #927
@igoratencompass

Sorry, it was a mistake, I talked about the `/traefik/acme/storagefile`. I know this key is always inserted for now.

But if you don't provide the field `storageFile = "/acme/acme.json"`, Træfik is not able to initiliaze correctly the `acme` keys into the KV store as you can see [here](https://github.com/containous/traefik/blob/master/cmd/traefik/storeconfig.go#L70).

Indeed, in

[2017-12-20 08:26] timoreimann commented on #2376
Appreciate the testing you did for us, @miadabrin.

The fix will be officially included in the upcoming 1.5 release.

[2017-12-20 08:26] #2376 closed

[2017-12-20 09:25] christophetd opened #2595 "Generic TCP proxying support?"
Already tracked by several issues (#10, #608, #1409, #1376), but all of them have been closed / locked and I didn't see any answer from the maintainers.

Are there any plans to support generic TCP proxying in Traefik? I believe it would be super useful to get insights and statistics on connections to services such as MySQL, Kafka, RabbitMQ, etc.

[2017-12-20 09:26] #1898 closed

[2017-12-20 09:26] traefiker commented on #1450
Closed by #2594.

[2017-12-20 09:26] #1450 closed

[2017-12-20 09:26] traefiker commented on #1898
Closed by #2594.

[2017-12-20 09:28] ldez commented on #2595
Duplicate of #10

[2017-12-20 09:28] #2595 closed

[2017-12-20 09:33] christophetd commented on #2595
That's indeed a duplicate of #10. I wanted to write there, but the conversation is locked and restricted to project maintainers.

The goal of this issue was to discuss whether a generic TCP proxying feature was planned for the future - which other issues do not have information about.

Thanks.

[2017-12-20 09:34] svscorp commented on #77
@aparcar do you mean to act as a single-sign on (combining with http basic auth)? That would be great.

@WTFKr0 do you have anything on backend that uses ldap auth as well? (I believe it should be passed to the tool from NGinx) I am curious, did you achieve stability? I am facing issue with continuous `closed keepalive connection` and `client closed connection while waiting for request` messages.

[2017-12-20 09:37] svscorp commented on #498
@WTFKr0 do you have anything on backend that uses ldap auth as well? (I believe it should be passed to the tool from NGinx) I am curious, did you achieve stability? I am facing issue with continuous `closed keepalive connection` and `client closed connection while waiting for request` messages. Looking to Traefik to replace it.

[2017-12-20 09:47] svscorp commented on #2504
I am really excited to try Traefik, thank you very much for this great project.

Haven't started using it yet, but looking for a replacement of NGinx is set-up to reverse proxy and single-sign on (via LDAP AUTH). Therefore, supporting the feature and hopefully, it will be possible to achieve few things with the feature:
- share / stick authentication between routes / backends _(i.e. I opened domai

[2017-12-20 10:05] ldez commented on #2595
Yes it's planned for the future.

[2017-12-20 11:08] igoratencompass commented on #927
Hi @nmengin

Yeah I changed the args but still same problem I guess due to the missing `/traefik/acme/account/xx` as you pointed out. Anything else that can be done?

[2017-12-20 11:12] traefiker commented on #2545
Closed by #2590.

[2017-12-20 11:12] #2545 closed

[2017-12-20 12:02] kazigk opened #2596 "Redirect to another entrypoint only if it is enabled"
### Do you want to request a *feature* or report a *bug*?
I want to request a feature.

### What did you do?
I'm running Traefik configured to work with Let's Encrypt and redirection from http to https enrypoint. I need encrypted connection only on a few backends so I had to use regular expressions, because http protocol is already setted up with redirect and I can't just create another entrypoint

[2017-12-20 12:12] zouhuigang opened #2597 "dial tcp 10.254.0.1:443: i/o timeout"
1 reflector.go:199] github.com/containous/traefik/vendor/k8s.io/client-go/tools/cache/reflector.go:94: Failed to list *v1.Secret: Get https://10.254.0.1:443/api/v1/secrets?resourceVersion=0: dial tcp 10.254.0.1:443: i/o timeout

[2017-12-20 12:54] timoreimann commented on #2597
Looks like you cannot connect to your Kubernetes API server. This seems unrelated to Traefik per se.

For further end user support, please join the Traefik Slack channel or submit a question to Stackoverflow; the issue tracker is meant for feature requests and bug reports only. If you think this is indeed a Traefik bug, let us know and we'll reopen the issue.

[2017-12-20 12:54] #2597 closed

[2017-12-20 12:56] ldez commented on #2596
Seems like a duplicate of #1456

[2017-12-20 13:02] Juliens commented on #2593
Do you have a specific configuration on your apt mirror ?
I can't reproduce with my local configuration

[2017-12-20 13:11] nmengin commented on #1301
Hello @meatlewis.

In the new Træfik version (1.5), we migrate to the new version of `libkv` librairy which has to fix this kind of bug.
Can you try with this version?

[2017-12-20 13:13] nmengin commented on #2207
@marco-jantke Is still the test flaky?

[2017-12-20 13:27] nmengin commented on #1366
Hello @mbocevski .

In the new Træfik version (1.5), we migrate to the new version of `libkv` librairy which has to fix this kind of bug.
Can you try with this version?

[2017-12-20 13:40] traefiker commented on #927
Closed by #2598.

[2017-12-20 13:40] #927 closed

[2017-12-20 13:40] traefiker commented on #2547
Closed by #2598.

[2017-12-20 13:40] #2547 closed

[2017-12-20 13:40] #1283 closed

[2017-12-20 13:40] traefiker commented on #1283
Closed by #2598.

[2017-12-20 14:19] marco-jantke commented on #2207
That's a good question :D There was some progress in the area of ACME tests, right? The last time I was checking this I was manually going through the Semaphore CI builds and checked which tests failed. I guess we have to do this again.

[2017-12-20 14:20] #2277 closed

[2017-12-20 14:20] #1286 closed

[2017-12-20 14:20] #2535 closed

[2017-12-20 14:20] #1910 closed

[2017-12-20 14:43] marco-jantke commented on #2207
I checked recent runs of master and at least on this one https://semaphoreci.com/containous/traefik/branches/master/builds/224 it still failed.

[2017-12-20 15:06] nmengin commented on #2321
Many thanks for the information @tiukhtinvladimir .

Maybe I am wrong but I guess all this kind of operation are done in LEGO and we can not modify the behavior.

Maybe can you open an issue it [lego](https://github.com/xenolf/lego).

I close the issue but feel free to re-open it if you think we can do anything in Træfik.

[2017-12-20 15:06] #2321 closed

[2017-12-20 15:14] nmengin commented on #2339
Hello @AndrewBucklin.

Sorry for the delay but I didn't see your comment (I filter the closed issues :wink: )

As I said in SO,  it seems to be impossible, for the moment, to share an ACME certificate between differents entryPoints.
Indeed, ACME certificates will be linked to the entryPoint given in the configuration.

However your need seems to be interesting.

Can you open a new issue to propose

[2017-12-20 18:26] sknigh commented on #2593
@Juliens The hosted part of the mirror consists of an nginx container that mounts a file tree. Its specific configuration only consists of the docker labels above. Using a raw port or Traefik 1.4.5 doesn't produce the errors.

I tried 1.5.0-rc1 this morning and it also produces 500 errors.

Here is the output from a single ```apt-get update```, I notice a mismatch in the number of 200 and 404 erro

[2017-12-20 22:28] pascalandy commented on #2402
Following up. I still have the same bug using 1.5.0-rc2 since last week.

[2017-12-20 23:16] igoratencompass commented on #927
Confirming, this is now working with `v1.5.0-rc3`

[2017-12-21 01:42] geekgonecrazy commented on #2542
Would love this!  Being able to run in kubernetes in HA with out having to maintain an additional KV store would be great.

What would the read/write speed implications be here?  If we had two instances setting certs is it going to be able to handle this?

[2017-12-21 04:36] kazigk commented on #2596
Yes, it’s a duplicate and #2133 solves this issue.

[2017-12-21 04:36] #2596 closed

[2017-12-21 08:36] nmengin commented on #2542
This proposal is related to #2527

[2017-12-21 08:36] nmengin commented on #2527
Closed in favor of #2542 .

[2017-12-21 08:36] #2527 closed

[2017-12-21 08:38] nmengin commented on #2521
Closed in favor of #2542

[2017-12-21 08:38] #2521 closed

[2017-12-21 08:43] nmengin commented on #2581
Hello @Overbryd,

The PR #2598 fixed this kind of behavior by creating ACME keys which are missing.
Can you try to use the new Træfik version (1.5-rc3)?

I close this issue but you contact us on Slack if the PR does not solve your problem.

[2017-12-21 09:42] nmengin commented on #2408
WDYT @containous/kubernetes ?

[2017-12-21 09:58] emilevauge commented on #2418
Sorry @Gwend4l, we don't plan to implement this feature into Traefik. We recommend to use an external tool like https://certbot.eff.org to retrieve your ACME certificates.

[2017-12-21 09:58] #2418 closed

[2017-12-21 10:02] Gwend4l commented on #2418
Noted, thanks for answering though!

[2017-12-21 10:05] ldez commented on #2466
I'll close this issue, because I think the question is answered.

[2017-12-21 10:05] #2466 closed

[2017-12-21 10:06] nmengin commented on #2422
Hello @ichasco,

Many thanks for your interest in the project.

Another users had the same kind of problem as described[here](https://github.com/containous/traefik/issues/2466#issuecomment-347022645).

Can you try to apply his solution?

[2017-12-21 10:07] chiennv97 commented on #2409
Thank to response!
I am using valyala/fasthttp to routing it! It seem ok :+1:

[2017-12-21 10:32] emilevauge commented on #2376
Thanks @miadabrin for helping us fixing this one :+1:
A big :clap: for @timoreimann for his very detailed analysis !

[2017-12-21 10:39] timoreimann commented on #2408
AFAIU, the upstream issue referenced in https://github.com/containous/traefik/issues/2408#issuecomment-344325606 seems to block us from making the host field support arbitrary regular expressions. Only subdomains seem to be possible right now.

If the feature request is about full regex support (which is how I understand it, but correct me if I'm wrong @kedare), I see two options: drive a possible

[2017-12-21 17:15] nmengin commented on #803
Hello @alvaroaleman.

Since the version 1.5, it's possible to store both static and dynamic configuration into a KV store as you can see [here](https://github.com/containous/traefik/pull/2419).

Do you think it can solve your use case?

[2017-12-21 18:56] softkot commented on #2556
Have to note that has the same issue with etcd KV backend.

[code]

P.S. Run 1.4.5-alpine

[2017-12-21 20:46] hrajchert commented on #1957
I have the same problem on Docker Image version `traefik:1.4-alpine@sha256:9b02a25ffd77e058738f452c8d9b17c4514e5d4c543965ee1bbbee900f092fc2`

[2017-12-22 10:22] nmengin commented on #2556
Hello @Horgix , @softkot.

We recently fixed a problem with `storage` and `storageFile` during the ACME configuration migration to KV stores in PR #2598.
The fix has been merged into the version 1.5-rc3.

Moreover @softkot, you use the deprecated option `onDemand` in your ACME configuration.
This option is not necessary and can generate problems.

Can you try to launch your environment :
- With th

[2017-12-23 06:49] linanw commented on #692
You may use:

traefik.frontend.rule1=Host:example.com**;**Host:example2.com

OR

traefik.frontend.rule1=Host:example.com,example2.com

[2017-12-23 10:08] 0xbaadf00d opened #2615 "concurrent map writes error"
### Output of `traefik version`:

Traefik version 1.4.5 from official Docker Image

### What did you do?

Nothing, the server is just running with Docker Swarm (latest stable version) as backend

### What did you expect to see?

Nothing

### What did you see instead?

[code]

<details>
<summary>logs</summary>

[code]

</details>

[2017-12-23 10:35] timoreimann commented on #2615
@0xbaadf00d does it contain any further context to help narrow down what part of the code produces the concurrent map write?

[2017-12-23 13:07] traefiker commented on #2615
Thanks for your interest in Traefik !

Every question asked in issues means less features 😉.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, refer to one of the following:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/traefik) using the "traefik" tag
- the [Traefik community Slack channel](https://traefik.herokuapp.com)

[2017-12-23 13:07] traefiker commented on #2615
Every time someone does not respect the issue's template, a little bunny dies.

<details>

![southpark - estrella kill rabbit](https://user-images.githubusercontent.com/5674651/27143914-3cea7896-5130-11e7-81f8-02d8ac2da7a7.gif)
![southpark - estrella kill rabbit2](https://user-images.githubusercontent.com/5674651/27143924-49104c72-5130-11e7-82ae-ccedbd5dfa1c.gif)

</details>
<br>

Please edit your

[2017-12-23 14:49] 0xbaadf00d commented on #2615
Of course, here the log extracted from `docker service logs traefik`

[code]

[2017-12-24 08:18] captn3m0 opened #2618 "Security headers don't overwrite upstream headers"
### Do you want to request a *feature* or report a *bug*?

bug

### What did you do?

Use docker security headers.

### What did you expect to see?

The upstream headers get replaced by the traefik version

### What did you see instead?

Duplicate headers

### Output of `traefik version`: (_What version of Traefik are you using?_)

[code]

### What is your environment & configuration (arguments, t

[2017-12-24 08:31] ju5t opened #2619 "Double proxy X-Real-Ip incorrect"
### Do you want to request a *feature* or report a *bug*?

A (potential) bug.

### What did you do?

Our setup:

* Docker Swarm
* HaProxy as the main entry for our public IP's
* Traefik is running on the inside of the cluster

HaProxy is running inside Docker Swarm.

This means we are proxying traffic twice. The X-Forwarded-For header is passed on according to the tests we do with `emilevauge/whoa

[2017-12-24 22:25] hjbotha commented on #2504
Thanks @jdoucerain, your solution works well.

Meanwhile, I can confirm this still doesn't work in 1.5.0-rc3 without the above patch.

[2017-12-24 22:34] hjbotha opened #2620 "Forward POST headers to forward authentication servers"
### Do you want to request a *feature* or report a *bug*?

Feature

### What did you do?

I have a PHP script on the backend handling authentication. I set up a form on it, where I could enter a username and password and click Log in, and the credentials would be POSTed to the script.

### What did you expect to see?

POST headers should be passed to the forward authentication server. This would a

[2017-12-24 22:43] #2620 closed

[2017-12-24 22:44] hjbotha commented on #2620
Just realised/remembered that POSTs don't quite work like that... Oops.

[2017-12-25 03:54] tourshi commented on #2171
Thank you @ldez
this helped me get my basic auth working, is there anyway to have this in the documentation to let anyone who is using docker-compose know that they should replace $ to $$

Thanks!

[2017-12-25 10:48] captn3m0 commented on #2618
Wanted to see what happens if multiple headers are received by the client, and whether there is a valid usecase for any specific security header being repeated (once by upstream, once by traefik). Going by the list of `unrolled/secure`:

## Strict-Transport-Security

## X-Frame-Options

Multiple seem allowed, but browsers seem to fall back to DENY in such cases. Ref: https://stackoverflow.com/q/44

[2017-12-26 17:07] mmatur commented on #2402
Hi @pascalandy , Thanks for your detailed issue.

How do you run your service update ?
What are types of changes on your services ?

Are you able to reproduce with your [Træfik docker stack](https://github.com/pascalandy/docker-stack-this/tree/master/traefik_stack5) ?

I have played a little bit with it and I a not able to reproduce your issue.

[2017-12-26 21:14] shieldwed commented on #2196
@Juliens Was this last question directed at me?

[2017-12-27 01:37] ldez commented on #2196
@shieldwed yes 😉

[2017-12-27 05:32] charlieoleary opened #2623 "Consul Catalog stickiness Does Not Work With Prefixes"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

- Operation cluster with Consul, Registrator, and Traefik.
- Registered containers with appropriate Traefik labels:

[code]
- Ran Traefik with the following config:

[code]

### What did you expect to see?

[code]

### What did you see instead?

[code]

**Note:** This works as intended if I simply use the standar

[2017-12-27 05:53] ldez commented on #2623
I'm don't understand: your are using Docker labels or Consul KV?

- Labels on containers are for Docker and don't support prefix.
- The prefix is used for tags and keys in Consul

[2017-12-27 06:13] charlieoleary commented on #2623
Yes, sorry for any confusion. I'm using Consul Catalog and Registrator to register services with the Consul catalog.

Just to further clarify, if I register with the standard `traefik.<labelSuffix>` everything works as expected, including stickies. If I change the prefix to `stage.traefik.<labelSuffix>` and set the `--consulcatalog.prefix=stage.traefik` everything works EXCEPT the stickiness setti

[2017-12-27 06:29] charlieoleary commented on #2623
Amazing, @ldez! Thanks so much for jumping on this! 🎉

[2017-12-27 08:45] venth opened #2625 "http/2 over plaintext"
### Do you want to request a *feature* or report a *bug*?

feature

### What did you do?

### What did you expect to see?

According to [the documentation http/2 traffic can be run over plaintext](https://tools.ietf.org/html/rfc7540#section-3.1)

I expect to run grpc over plaintext.

### What did you see instead?

Currently SSL is required to run http/2 traffic.

### Output of `traefik version`: (

[2017-12-27 08:53] Juliens commented on #2625
Duplicate #2139

[2017-12-27 08:53] #2625 closed

[2017-12-27 09:04] hillbun commented on #1880
how to solve it if create treafik with docker service create , but not compose file?

it seems no mode=host

[2017-12-27 12:28] mmatur commented on #2582
Hi @barrachri, thanks for your interest on Træfik.

After some investigations, this difference between 1.4 and 1.5 is due to this [change](https://github.com/containous/traefik/pull/2490/files#diff-fa150917b5a9de47451ce96099822a9dR765)

When you create a service with `docker cli` you can see that there is an `EndpointSpec` defined

[code]

And when you create with docker-py you can see that there

[2017-12-27 12:35] barrachri commented on #2582
Thanks @mmatur!

[2017-12-27 21:33] pascalandy commented on #2402
Hi @mmatur

I do not update.
I do `docker service rm serviceXYZ` then I do
`docker service create serviceXYZ`.

I do this because I reset the data from the mounted directory.

Yes I recreate this issue using https://github.com/pascalandy/docker-stack-this/tree/master/traefik_stack5

Actually... I need to re-test my stack using all these labels:

[code]

Let me follow up in few days. I don't have a

[2017-12-28 10:06] JesusIslam commented on #1880
@hillbun see my comments above

[2017-12-28 14:41] lucj commented on #1619
Any update on this ?

[2017-12-28 15:34] maritz opened #2628 "500 Internal Server error with "missing method CloseNotify""
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

Upgraded to 1.5.0-rc3 and then made a request.

### What did you expect to see?

The response from the backend or 502/503 when backend is unavailable (as in 1.4.5).

### What did you see instead?

500 Internal Server Error (and seee logs below)

### Output of `traefik version`: (_What version of Traefik are you u

[2017-12-28 15:43] maritz commented on #2628
Removing `compress: true` fixes it.

[2017-12-29 00:00] #1463 closed

[2017-12-29 00:00] traefiker commented on #1463
I'll close the issue due to inactivity but feel free to re-open if needed.

[2017-12-29 03:02] hillbun commented on #1880
@JesusIslam
I mean there is no options of "--publish mode=host,target=80,published=80" when use "docker service create" command.
this option can be used only in compose file?

[2017-12-29 06:36] JesusIslam commented on #1880
@hillbun There is, check this [link](https://docs.docker.com/engine/reference/commandline/service_create/#options).

[2017-12-29 07:12] datamesh-oss opened #2629 "WebSocket message lost using Traefik as Proxy"
### Do you want to request a *feature* or report a *bug*?
bug

### What did you do?
Use Traefik as proxy for WebSocket server. For simplicity, we use a rather simple server-client model for test. When a client connects to the server, the server will send 5 messages to the client immediately. The server is behind a Traefik proxy.

The simple Server Client code to reproduce the problem can be found

[2017-12-29 08:15] DirkTheDaring opened #2630 "Regression when use containers with multiple labels"
## What did you expect to see?
My docker apps running in traefik with several containers using multiple routing like the example below.
This works with my old 1.3.0-rc3  image , tried today to upgrade to latest, then it broke. When i reverted back to the old image, all good again.

This is part of a service running in docker compose.

labels:
  - traefik.servicename1.frontend.rule=Host:example1.co

[2017-12-29 08:33] mmatur commented on #2630
@DirkTheDaring Could you send us more informations about your compose file please

[2017-12-29 09:05] mmatur commented on #2630
@DirkTheDaring Could you send us your full Træfik log please ?

[2017-12-29 09:19] DirkTheDaring commented on #2630
Sure here is a sample which reproduces the bug in my enviroment.
Only hostnames are exchanged due to privacy reasons.
---
version: '2'

services:
  traefik:
          #image: traefik:1.3.0-rc3
          #image: traefik:1.4.0
    image: traefik:v1.5.0-rc3
    restart: unless-stopped
    container_name: traefik.prod.cloud
    hostname: traefik

    volumes:
    - /var/run/docker.sock:/var/run/docker

[2017-12-29 09:22] DirkTheDaring commented on #2630
also 1.4.0 works for me.

[2017-12-29 09:41] DirkTheDaring commented on #2630
triaged the introduction of the bug to  1.4.4  .   It works until traefik:1.4.3  container. Then breaks on 1.4.4 and stays broken (1.4.5) until then.

[2017-12-29 09:41] colinlabs commented on #2510
+1

[2017-12-29 09:55] mmatur commented on #2630
@DirkTheDaring Thanks for your investigation.

This regression is due to this PR #2434

We are working on a fix

[2017-12-29 15:33] thuandt commented on #1926
I got same problem. It's too weird. Most of all backend behind is ok but one of them always return 500 with `err: context canceled`.

[code]

[2017-12-29 15:55] trondhindenes opened #2632 "Traefik Ingress controller attempts to access cluster-wide Secrets in Kubernetes"
*bug*

### What did you do?
With traefik set up as an Ingress controller on Kubernetes, my apiserver logs indicate that Traefik attempts to list all cluster-wide secrets in Kubernetes (Which I have configured to deny). Everything works fine, which is an proves that access to Secrets aren't needed.

### What did you expect to see?
Traefik should not attempt to access Cluster-wide secrets if it does

[2017-12-29 16:52] timoreimann commented on #2632
Yep, this is a known issue as documented in #1784. While 1.5 brought support for namespace-specific watches, thereby constraining the problem to a set of namespaces (as opposed to cluster-wide access), we still need to solve this issue more fundamentally.

I'll be closing this one as duplicate. Please track the referenced issue to be notified about updates.

[2017-12-29 16:52] #2632 closed

[2017-12-29 17:25] trondhindenes commented on #2632
great, thanks for the update! Closing it is fine.

[2017-12-29 18:50] pascalandy commented on #2402
I'm following up:

- I did remove then create Traefik using 1.5.0-rc3 ✨
- I did remove then create all my CMS containers using these labels:

[code]

I’ll report back 🙈 ASAP.

[2017-12-30 00:00] traefiker commented on #1403
I'll close the issue due to inactivity but feel free to re-open if needed.

[2017-12-30 00:00] #1403 closed

[2017-12-30 07:46] dfang opened #2633 "traefik should not require ingress addon to work on minikube"
traefik is an another ingress controller.  why i must enable ingress addon to make traefik rules work on minikube ?

### Do you want to request a *feature* or report a *bug*?
bug

### What did you do?
following this guide: https://github.com/containous/traefik/blob/master/docs/user-guide/kubernetes.md

### What did you expect to see?
traefik should work on minikube whether ingress addon enabled or

[2017-12-30 11:14] timoreimann commented on #2633
The Ingress controller should not be necessary.

I suspect you rolled out Traefik using a Deployment and did not append the NodePort to the request. Sadly, we have not documented the need to specify the NodePort consistently throughout the entire guide, which is something that we should do.

[2017-12-30 14:04] dfang commented on #2633
@timoreimann

yes, if i append the port, in my case, the port is 31081.  traefic-ui.minikube:31081 works.

but if enable ingress addon. i don't need to append the port to access traefik dashboard. that makes me confused.

[2017-12-30 14:33] timoreimann commented on #2633
@dfang I don't know for sure how the Ingress addon in minikube works. What I suspect though is that it fires up something like an Nginx Ingress controller listening on port 80 on the minikube machine, watches over the available Ingress objects, and forwards traffic accordingly. In essence, it works like a cloud-based Ingress controller in your local environment (except for the fact that it apparen